<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>user</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/vendor/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/vendor/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/user.css">
    <script type="text/javascript" src="__PUBLIC__/vendor/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/vendor/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/vendor/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/user.js"></script>
    <script type="text/javascript">
        var url;
        
        function closeDialog()
        {
            $('#dlg-cancel').dialog('close');
            $('#dlg-detail').dialog('close');
            $('#dlg-remark').dialog('close');
        }
        
        function detailItem()
        {
            var row = $('#dg').datagrid('getSelected');
            if (row){
                closeDialog();
                $('#dlg-detail').dialog('open').dialog('center').dialog('setTitle','订单详情');
                $('#fm-detail').form('load', row);
                $('#order_log').datagrid({  
                    url:'/admin/order/orderLog/id/' + row.id
                });
                
                $('#order_phomal').datagrid({  
                    url:'/admin/order/orderPhomal/id/' + row.id
                });
                
                if (row.is_invoice == 1) {
                    $('#fm-detail .invoice').show();
                } else {
                    $('#fm-detail .invoice').hide();
                }
                
                if (row.category == 2) {
                    $('#fm-detail .logistics').show();
                } else {
                    $('#fm-detail .logistics').hide();
                }
                
                $('#order_create_time').textbox('setValue', formatDate(row.create_time));
                row.maintain_start_time > 0 && $('#order_maintain_start_time').textbox('setValue', formatDate(row.maintain_start_time));
                row.maintain_end_time > 0 && $('#order_maintain_end_time').textbox('setValue', formatDate(row.maintain_end_time));
                row.clearing_time > 0 && $('#order_clearing_time').textbox('setValue', formatDate(row.clearing_time));
                row.end_time > 0 && $('#order_end_time').textbox('setValue', formatDate(row.end_time));
                $('#order_status').html(formatOrderStatus(row.status));
                $('#order_payment_method').html(formatOrderPaymentMethod(row.payment_method));
                
                url = '/admin/order/detail/id/' + row.id;
            } else {
                $.messager.show({
                    title: '错误',
                    msg: '请选择一条记录！',
                    showType:'fade',
                    style:{
                        right:'',
                        bottom:''
                    }
                });
            }
        }
        
        function showImgItem(i) 
        {
        	var row = $('#dg').datagrid('getSelected');
        	
            if (row) {
            	
                if (i == 1 && row.maintain_start_img) {
                	$('#dlg-order-img').dialog('open').dialog('center').dialog('setTitle','开始维修图片');
                	$('#order_img').attr('src', row.maintain_start_img);
                } else if (i == 2 && row.maintain_end_img){
                	$('#dlg-order-img').dialog('open').dialog('center').dialog('setTitle','结束维修图片');
                	$('#order_img').attr('src', row.maintain_end_img);
                } else if (i == 3 && row.maintain_img) {
                	$('#dlg-order-img').dialog('open').dialog('center').dialog('setTitle','维修单图片');
                	$('#order_img').attr('src', row.maintain_img);
                } else {
                	$.messager.show({
                        title: '错误',
                        msg: '暂无图片显示！',
                        showType:'fade',
                        style:{
                            right:'',
                            bottom:''
                        }
                    });
                }
            } else {
                $.messager.show({
                    title: '错误',
                    msg: '请选择一条记录！',
                    showType:'fade',
                    style:{
                        right:'',
                        bottom:''
                    }
                });
            }
        }
        
        function cancelItem()
        {
            var row = $('#dg').datagrid('getSelected');
            if (row){
                
                if (row.status == -1) {
                    $.messager.show({
                        title: '错误',
                        msg: '订单已取消，不能重复取消订单！',
                        showType:'fade',
                        style:{
                            right:'',
                            bottom:''
                        }
                    });
                    
                    return false;
                }
                
                closeDialog();
                $('#dlg-cancel').dialog('open').dialog('center').dialog('setTitle', '取消订单');
                $('#fm-cancel').form('clear');
                
                url = '/admin/order/cancel/id/' + row.id;
            } else {
                $.messager.show({
                    title: '错误',
                    msg: '请选择一条记录！',
                    showType:'fade',
                    style:{
                        right:'',
                        bottom:''
                    }
                });
            }
        }
        
        function saveCancelItem(form) 
        {
            $(form).form('submit',{
                url: url,
                onSubmit: function(){
                    
                    var row = $('#order_cancel').datagrid('getSelected');
                    if (!row) {
                        $.messager.show({
                            title: '错误',
                            msg: '请选择订单取消原因！',
                            showType:'fade',
                            style:{
                                right:'',
                                bottom:''
                            }
                        });
                        
                        return false;
                    }
                    
                    $('#close_reason').val(row.name);
                    return true;
                },
                success: function(result){
                    $('#load').dialog('close');
                    var result = eval('('+result+')');
                    if (result.success){
                        closeDialog();
                        $('#dg').datagrid('reload');
                    } else {
                        $.messager.show({
                            title: '错误',
                            msg: result.errorMsg,
                            showType:'fade',
                            style:{
                                right:'',
                                bottom:''
                            }
                        });
                    }
                }
            });
        }
        
        function remarkItem()
        {
            var row = $('#dg').datagrid('getSelected');
            if (row){
                closeDialog();
                $('#dlg-remark').dialog('open').dialog('center').dialog('setTitle', '订单备注');
                $('#fm-remark').form('load', row);
                
                url = '/admin/order/remark/id/' + row.id;
            } else {
                $.messager.show({
                    title: '错误',
                    msg: '请选择一条记录！',
                    showType:'fade',
                    style:{
                        right:'',
                        bottom:''
                    }
                });
            }
        }
        
        function saveRemarkItem(form) 
        {
            $(form).form('submit',{
                url: url,
                onSubmit: function(){
                    
                    if ($(this).form('validate')) {
                        $('#load').dialog('open');
                    };
                    
                    return $(this).form('validate');
                },
                success: function(result){
                    $('#load').dialog('close');
                    var result = eval('('+result+')');
                    if (result.success){
                        closeDialog();
                        $('#dg').datagrid('reload');
                    } else {
                        $.messager.show({
                            title: '错误',
                            msg: result.errorMsg,
                            showType:'fade',
                            style:{
                                right:'',
                                bottom:''
                            }
                        });
                    }
                }
            });
        }

        function saveItem(form) 
        {
            $(form).form('submit',{
                url: url,
                onSubmit: function(){
                    
                    if ($(this).form('validate')) {
                        $('#load').dialog('open');
                    };
                    
                    return $(this).form('validate');
                },
                success: function(result){
                    $('#load').dialog('close');
                    var result = eval('('+result+')');
                    if (result.success){
                        closeDialog();
                        $('#dg').datagrid('reload');
                    } else {
                        $.messager.show({
                            title: '错误',
                            msg: result.errorMsg,
                            showType:'fade',
                            style:{
                                right:'',
                                bottom:''
                            }
                        });
                    }
                }
            });
        }
        
        //客服处理中
        function kefuProcessItem()
        {
            var row = $('#dg').datagrid('getSelected');
            if (row) {
                
                if (row.status != 1) {
                    $.messager.show({
                        title: '错误',
                        msg: '订单状态不在下单状态，不能进行操作！',
                        showType:'fade',
                        style:{
                            right:'',
                            bottom:''
                        }
                    });
                    
                    return false;
                }
                
                $.messager.confirm('Confirm', '确认执行该操作吗？',function(r){
                    if (r){
                        $.post('/admin/order/kefuProcess',{id:row.id},function(result){
                            if (result.success){
                                $('#dg').datagrid('reload');
                            } else {
                                $.messager.show({
                                    title: '错误',
                                    msg: result.errorMsg,
                                    showType:'fade',
                                    style:{
                                        right:'',
                                        bottom:''
                                    }
                                });
                            }
                        },'json');
                    }
                });
            } else {
                $.messager.show({
                    title: '错误',
                    msg: '请选择一条记录！',
                    showType:'fade',
                    style:{
                        right:'',
                        bottom:''
                    }
                });
            }
        }
        
        //客服处理完成
        function kefuCloseItem()
        {
            var row = $('#dg').datagrid('getSelected');
            if (row) {
                
                if (row.status != 21) {
                    $.messager.show({
                        title: '错误',
                        msg: '订单状态不在处理状态，不能进行操作！',
                        showType:'fade',
                        style:{
                            right:'',
                            bottom:''
                        }
                    });
                    
                    return false;
                }
                
                $.messager.confirm('Confirm', '确认执行该操作吗？',function(r){
                    if (r){
                        $.post('/admin/order/kefuClose',{id:row.id},function(result){
                            if (result.success){
                                $('#dg').datagrid('reload');
                            } else {
                                $.messager.show({
                                    title: '错误',
                                    msg: result.errorMsg,
                                    showType:'fade',
                                    style:{
                                        right:'',
                                        bottom:''
                                    }
                                });
                            }
                        },'json');
                    }
                });
            } else {
                $.messager.show({
                    title: '错误',
                    msg: '请选择一条记录！',
                    showType:'fade',
                    style:{
                        right:'',
                        bottom:''
                    }
                });
            }
        }
        
        //客服重置
        function kefuResetItem()
        {
            var row = $('#dg').datagrid('getSelected');
            if (row) {
                
                if (row.status != 21 && row.status != 22) {
                    $.messager.show({
                        title: '错误',
                        msg: '订单状态不在处理中或处理完成状态，不能进行操作！',
                        showType:'fade',
                        style:{
                            right:'',
                            bottom:''
                        }
                    });
                    
                    return false;
                }
                
                $.messager.confirm('Confirm', '确认执行该操作吗？',function(r){
                    if (r){
                        $.post('/admin/order/kefuReset',{id:row.id},function(result){
                            if (result.success){
                                $('#dg').datagrid('reload');
                            } else {
                                $.messager.show({
                                    title: '错误',
                                    msg: result.errorMsg,
                                    showType:'fade',
                                    style:{
                                        right:'',
                                        bottom:''
                                    }
                                });
                            }
                        },'json');
                    }
                });
            } else {
                $.messager.show({
                    title: '错误',
                    msg: '请选择一条记录！',
                    showType:'fade',
                    style:{
                        right:'',
                        bottom:''
                    }
                });
            }
        }
        
        function searchItem()
        {
            $('#dg').datagrid({
                queryParams: {
                    create_time_start: $('#search-create-time-start').datetimebox('getValue'),
                    create_time_end: $('#search-create-time-end').datetimebox('getValue'),
                    city: $('#search-city').textbox('getValue'),
                    phone_id: $('#search-phone-id').combobox('getValue'),
                    malfunction: $('#search-phone-fun').combobox('getValue'),
                    engineer_id: $('#search-engineer-id').combobox('getValue'),
                    payment_method: $('#search-payment-method').combobox('getValue'),
                    type: $('#search-type').combobox('getValue'),
                    category: $('#search-category').combobox('getValue'),
                    status: $('#search-status').combobox('getValue'),
                    keyword: $('#search-keyword').val()
                }
            });
        }

        $(function(){
            //订单维修方式切换
            $('input[name="category"]').change(function(){

                if ($(this).val() == 2) { 
                    $('.logistics').show();
                } else {
                    $('.logistics').hide();
                }
            });
        });
        
        //订单状态
        function formatOrderStatus(val)
        {
            var order_staus = eval(<?php echo json_encode(C("ORDER_STATUS"))?>);
            
            if (val == -1 || val == -2) {
                return '<span class="label label-bg3">' + order_staus[val] + '</span>';
            } else if (val == 1) {
                return '<span class="label label-bg5">' + order_staus[val] + '</span>';
            } else if (val == 2 || val == 3 || val == 4) {
                return '<span class="label label-bg2">' + order_staus[val] + '</span>';
            } else if (val == 5) {
                return '<span class="label label-bg1">' + order_staus[val] + '</span>';
            } else if (val == 6) {
                return '<span class="label label-bg">' + order_staus[val] + '</span>';
            } else if (val == 7) {
                return '<span class="label label-bg6">' + order_staus[val] + '</span>';
            } else if (val == 8) {
                return '<span class="label label-bg3">' + order_staus[val] + '</span>';
            } else if (val == 11) {
                return '<span class="label label-bg7">' + order_staus[val] + '</span>';
            } else if (val == 12) {
                return '<span class="label label-bg7">' + order_staus[val] + '</span>';
            } else if (val == 21) {
                return '<span class="label label-bg2">' + order_staus[val] + '</span>';
            } else if (val == 22) {
                return '<span class="label label-bg">' + order_staus[val] + '</span>';
            }
        }
        
        //订单是否结算
        function formatOrderIsClearing(val)
        {
            if(val == 1) {  
                return '<span class="label label-bg2">是<span>';  
            } else {  
                return '<span class="label label-bg3">否<span>';  
            }
        }
        
        //订单维修方式
        function formatOrderCategory(val)
        {
            var category = eval(<?php echo json_encode(C("ORDER_CATEGORY"))?>);
            return category[val];
        }
        
        //订单付款方式
        function formatOrderPaymentMethod(val)
        {
            var payment = eval(<?php echo json_encode(C("ORDER_PAYMENT"))?>);
            return payment[val];
        }
        
        //配件显示
        function fittingFormatter(value, row, index)
        {
            if (!value) {
                return '';
            }
            
            var fittings = $.parseJSON(row.fitting);
            var str = '';

            if (row.is_color < 1) {
                
                for (var i in fittings) {
                    str += fittings[i].name + ' * ' + fittings[i].amount + '<br/>';
                }
            } else {
                
                if (row.color_id > 0) {
                    
                    if (typeof(fittings[row.color_id]) == 'undefined') {
                        return '';
                    }
                    
                    for (var i in fittings) {
                        
                        if (row.color_id != i) {
                            continue;
                        }
                        
                        str += '(' + fittings[i]['name'] + ')' + '<br/>';

                        for (var j in fittings[i]['items']) {
                            str += fittings[i]['items'][j].name + ' * ' + fittings[i]['items'][j].amount + '<br/>';
                        }

                        str += '----------<br/>';
                    }
                } else {
                    for (var i in fittings) {
                        str += '(' + fittings[i]['name'] + ')' + '<br/>';

                        for (var j in fittings[i]['items']) {
                            str += fittings[i]['items'][j].name + ' * ' + fittings[i]['items'][j].amount + '<br/>';
                        }

                        str += '----------<br/>';
                    }
                }
            }

            return str;
        }
        
        //废料显示
        function wasteFormatter(value, row, index)
        {
            if (!value) {
                return '';
            }
            
            var wastes = $.parseJSON(row.waste);
            var str = '';

            for (var i in wastes) {
                str += wastes[i].name + ' * ' + wastes[i].amount + '<br/>';
            }

            return str;
        }
        
        //订单行操作按钮
        function formatOrderRowActionButton(val, row)
        {
            var html = $('#rowmenu').html();
            
            //取消
            if (row.status == -1) {
                html = html.replace(/cancel/, 'hide');
            }
            
            //处理中
            if (row.status > 1) {
                html = html.replace(/kefuprocess/, 'hide');
            }
            
            //处理完成
            if (row.status != 21) {
                html = html.replace(/kefuclose/, 'hide');
            }
            
            //重置
            if (row.status != 21 && row.status != 22) {
                html = html.replace(/kefureset/, 'hide');
            }
            
            return html;
        }
        
        //订单类型
        function formatOrderType(val)
        {
            var type = eval(<?php echo json_encode(C("ORDER_TYPE"))?>);
            return type[val];
        }
        
        function formatOrderId(val, row)
        {
            return val + (row.remark ? '<img src="/Public/images/mark.png" width="15" height="20">' : '');
        }
    </script>
</head>
<body class="easyui-layout">
        <table id="dg" title="订单列表(客服)" class="easyui-datagrid" style="width:100%; max-height:800px;" url="/admin/order/rows" toolbar="#toolbar" pagination="true" pageSize="30" pagePosition="top" rownumbers="true" fitColumns="true" singleSelect="true" nowrap="false">
        <thead>
            <tr>
                <th field="id" width="15" formatter="formatOrderId">ID</th>
                <th field="number" width="25">订单编号</th>
                <th field="customer" width="15">客户</th>
                <th field="cellphone" width="20">手机</th>
                <th field="phone_name" width="15">手机型号</th>
                <th field="color" width="10">颜色</th>
                <th field="type" width="10" formatter="formatOrderType">订单类型</th>
                <th field="category" width="10" formatter="formatOrderCategory">维修类别</th>
                <th field="malfunctions" width="25">故障</th>
                <th field="create_time" width="25" formatter="formatDate">下单时间</th>
                <th field="status" width="15" formatter="formatOrderStatus">状态</th>
                <th field="engineer_name" width="15">工程师</th>
                <th field="reference_price" width="15">预计价格</th>
                <th field="actual_price" width="15">实际价格</th>
                <th field="payment_method" width="15" formatter="formatOrderPaymentMethod">付款方式</th>
                <th field="is_clearing" width="10" formatter="formatOrderIsClearing">结算</th>
                <th field='action' width="40" formatter="formatOrderRowActionButton">操作</th>
            </tr>
        </thead>
    </table>
    <div id="toolbar">
        <span>下单日期:</span>
        <input type="text" class="easyui-datebox" id='search-create-time-start' panelHeight="auto">至<input type="text" class="easyui-datebox" id='search-create-time-end' panelHeight="auto">
        &nbsp;&nbsp;
        <span>地区:</span>
        <select class="easyui-combobox" id='search-city'>
            <option value="all">全部</option>
            <?php foreach(session('addresses') as $k => $v) { ?>
            <option value="<?php echo $v['city'];?>"><?php echo $v['cityname'];?></option>
            <?php }?>
            <option value="other">其他</option>
        </select>
        &nbsp;&nbsp;
        <span>机型:</span>
        <select id='search-phone-id' class="easyui-combobox" limitToList="true" url="/admin/order/phones" valueField="id" textField="alias" style="width:150px;">
        </select>
        &nbsp;&nbsp;
        <span>故障:</span>
        <select id='search-phone-fun' class="easyui-combobox" limitToList="true" url="/admin/order/getPhomal" valueField="id" textField="name" style="width:150px;">
        </select>
        &nbsp;&nbsp;
        <span>工程师:</span>
        <select id='search-engineer-id' class="easyui-combobox" limitToList="true" url="/admin/order/engineers" valueField="id" textField="name" style="width:150px;">
        </select>
        &nbsp;&nbsp;
        <span>订单状态:</span>
        <select class="easyui-combobox" id='search-status'>
            <option value="all">全部</option>
            <?php foreach(C('ORDER_STATUS') as $k => $v) { ?>
            <option value="<?php echo $k;?>"><?php echo $v;?></option>
            <?php }?>
        </select>
        <p><p/>
        <span>付款方式:</span>
        <select class="easyui-combobox" id='search-payment-method' panelHeight="auto">
            <option value="all">全部</option>
            <?php foreach(C('ORDER_PAYMENT') as $k => $v) { ?>
            <option value="<?php echo $k;?>"><?php echo $v;?></option>
            <?php }?>
        </select>
        &nbsp;&nbsp;
        <span>订单类型:</span>
        <select class="easyui-combobox" id='search-type' panelHeight="auto">
            <option value="all">全部</option>
            <?php foreach(C('ORDER_TYPE') as $k => $v) {?>
            <option value="<?php echo $k;?>"><?php echo $v;?></option>
            <?php }?>
        </select>
        &nbsp;&nbsp;
        <span>上门类型:</span>
        <select class="easyui-combobox" id='search-category' panelHeight="auto">
            <option value="all">全部</option>
            <?php foreach(C('ORDER_CATEGORY') as $k => $v) { ?>
            <option value="<?php echo $k;?>"><?php echo $v;?></option>
            <?php }?>
        </select>
        <span>关键字(订单ID/编号/电话/姓名/地址):</span>
        <input type="text" class="easyui-textbox" id='search-keyword' panelHeight="auto" style="width:300px;">
        <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconCls="icon-search" onclick="searchItem()">搜索</a>
    </div>
    <div id="rowmenu" class="hide">
       <a href="javascript:void(0)" class="easyui-linkbutton <?php if(!isset($buttons['详情'])) { echo 'hide';} ?>" plain="true" onclick="selectedRow($(this));detailItem();">详情</a>
       <a href="javascript:void(0)" class="easyui-linkbutton kefuprocess <?php if(!isset($buttons['处理中'])) { echo 'hide';} ?>" plain="true" onclick="selectedRow($(this));kefuProcessItem();">客服处理中</a>
       <a href="javascript:void(0)" class="easyui-linkbutton kefuclose <?php if(!isset($buttons['处理完成'])) { echo 'hide';} ?>" plain="true" onclick="selectedRow($(this));kefuCloseItem();">客服处理完成</a>
       <a href="javascript:void(0)" class="easyui-linkbutton kefureset <?php if(!isset($buttons['重置'])) { echo 'hide';} ?>" plain="true" onclick="selectedRow($(this));kefuResetItem();">重置</a>
       <a href="javascript:void(0)" class="easyui-linkbutton cancel <?php if(!isset($buttons['取消'])) { echo 'hide';} ?>" plain="true" onclick="selectedRow($(this));cancelItem();">取消</a>
       <a href="javascript:void(0)" class="easyui-linkbutton <?php if(!isset($buttons['备注'])) { echo 'hide';} ?>" plain="true" onclick="selectedRow($(this));remarkItem();">备注</a>
    </div>
    <div id="dlg-detail" class="easyui-dialog" style="width:900px;height:550px;padding:10px 20px" closed="true" buttons="#dlg-buttons">
        <form id="fm-detail" method="post" enctype="multipart/form-data">
            <div class="ftitle">订单日志</div>
            <div class="fitem">
                <table id="order_log" class="easyui-datagrid" style="width:800px; max-height: 300px;">
                    <thead>
                        <tr>
                            <th field="id" width="50">ID</th>
                            <th field="time" width="150" formatter="formatDate">时间</th>
                            <th field="action" width="550">操作</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="ftitle">客户信息</div>
            <div class="fitem">
                <label>姓名:</label>
                <input name="customer" class="easyui-textbox" disabled="true">
            </div>
            <div class="fitem">
                <label>手机号码:</label>
                <input name="cellphone" class="easyui-textbox" disabled="true">
            </div>
            <div class="fitem">
                <label>邮箱:</label>
                <input name="email" class="easyui-textbox" disabled="true">
            </div>
            <div class="fitem">
                <label>地址:</label>
                <input name="caddress" class="easyui-textbox" style="width:400px;" disabled="true">
            </div>
            <div class="fitem">
                <label>微信:</label>
                <input name="weixin" class="easyui-textbox" disabled="true">
            </div>
            
            <div class="ftitle">机型故障</div>
            <div class="fitem">
                <label>机型:</label>
                <select class="easyui-combobox" disabled="true" limitToList="true" name='phone_id' url="/admin/order/phones" valueField="id" textField="alias" style="width:150px;">
                </select>
            </div>
            <div class="fitem">
                <label>颜色:</label>
                <select class="easyui-combobox" disabled="true" limitToList="true" name='color_id' url="/admin/order/colors" valueField="id" textField="name" style="width:150px;">
                </select>
            </div>
            <div class="fitem">
                <label>IMEI:</label>
                <input name="phone_imei" class="easyui-textbox" style="width:200px;" disabled="true">
            </div>
            <div class="fitem">
                <label>故障:</label>
                <table id="order_phomal" class="easyui-datagrid" style="width:600px; max-height:300px;">
                    <thead>
                        <tr>
                            <th field="malfunction" width="100">故障</th>
                            <th field="fitting" width="200" formatter="fittingFormatter">所需配件</th>
                            <th field="waste" width="200" formatter="wasteFormatter">废料</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="fitem">
                <label>故障描述:</label>
                <input name="malfunction_description" class="easyui-textbox" multiline="true" style="width:300px;" disabled="true">
            </div>
            
            <div class="ftitle">订单信息</div>
            <div class="fitem">
                <label>订单ID:</label>
                <input name="id" class="easyui-textbox"  disabled="true">
            </div>
            <div class="fitem">
                <label>订单编号:</label>
                <input name="number" class="easyui-textbox" disabled="true">
            </div>
            <div class="fitem">
                <label>订单类型:</label>
                <?php foreach(C('ORDER_TYPE') as $k => $v) {?>
	            <?php echo $v;?>：<input class="easyui-validatebox" name="type" type="radio" disabled="true" value="<?php echo $k;?>">
	            <?php }?>
            </div>
            <div class="fitem">
                 <label>维修方式:</label>
                         上门维修 :
                <input class="easyui-validatebox" name="category" type="radio" value="1">
                         邮寄维修:
                <input class="easyui-validatebox" name="category" type="radio" value="2" validType="requireRadio['input[name=\'category\']']">
                         到店维修:
                <input class="easyui-validatebox" name="category" type="radio" value="3" disabled="true">
            </div>
            <div class="fitem">
                <label>订单地址:</label>
                <input name="address" class="easyui-textbox" style="width:400px;" disabled="true">
            </div>
            <div class="fitem logistics hide">
                <label>邮寄单号:</label>
                <input id="logistics" name="logistics" class="easyui-textbox" prompt="邮寄单号"  style="width:200px;">
            </div>
            <div class="fitem logistics hide">
                <label>寄回单号:</label>
                <input id="postback" name="postback" class="easyui-textbox" prompt="寄回单号" style="width:200px;">
            </div>
            <div class="fitem">
                <label>状态:</label>
                <span id="order_status"></span>
            </div>
            <div class="fitem">
                <label>预计价格:</label>
                <input name="reference_price" class="easyui-textbox" disabled="true">
            </div>
            <div class="fitem">
                <label>实际价格:</label>
                <input name="actual_price" class="easyui-textbox" prompt="实际价格" required="true">
            </div>
            <div class="fitem">
                <label>用户备注:</label>
                <input name="user_remark" class="easyui-textbox" style="width:400px;" disabled="true">
            </div>
            <!-- 
            <div class="fitem">
                <label>是否优惠:</label>
                <input name="old_order_number" class="easyui-textbox" prompt="原订单编号" style="width:200px;">
            </div>
             -->
            <div class="fitem">
                <label>是否开具发票:</label>
                是:
                <input class="easyui-validatebox" name="is_invoice" type="radio" disabled="true" value="1">
                否:
                <input class="easyui-validatebox" name="is_invoice" type="radio" disabled="true" value="0">
            </div>
            <div class="fitem invoice">
                <label>发票抬头:</label>
                <input name="invoice" class="easyui-textbox" style="width:200px;" disabled="true">
            </div>
            <div class="fitem">
                <label>税号:</label>
                <input name="tax_number" class="easyui-textbox" style="width:200px;" disabled="true">
            </div>
            <div class="fitem">
                <label>是否结算:</label>
                是:
                <input class="easyui-validatebox" name="is_clearing" type="radio" disabled="true" value="1">
                否:
                <input class="easyui-validatebox" name="is_clearing" type="radio" disabled="true" value="0">
            </div>
            <div class="fitem">
                <label>支付方式:</label>
                <span id="order_payment_method"></span>
            </div>
            <div class="fitem">
                <label>下单时间:</label>
                <input id="order_create_time" class="easyui-textbox" disabled="true" style="width:200px;">
            </div>
            <div class="fitem">
                <label>开始维修时间:</label>
                <input id="order_maintain_start_time" class="easyui-textbox" disabled="true" style="width:200px;">
                <a class="easyui-linkbutton" onclick="showImgItem(1);">开始维修图片</a>
            </div>
            <div class="fitem">
                <label>结束维修时间:</label>
                <input id="orde_maintain_end_time" class="easyui-textbox" disabled="true" style="width:200px;">
                <a class="easyui-linkbutton" onclick="showImgItem(2);">结束维修图片</a> <a class="easyui-linkbutton" onclick="showImgItem(3);">维修单图片</a>
            </div>
            <div class="fitem">
                <label>结单时间:</label>
                <input id="order_end_time" class="easyui-textbox" disabled="true" style="width:200px;">
            </div>
            <div class="fitem">
                <label>入库时间:</label>
                <input id="order_clearing_time" class="easyui-textbox" disabled="true" style="width:200px;">
            </div>
            <div class="fitem">
                <label>取消原因:</label>
                <input name="close_reason" class="easyui-textbox" disabled="true" style="width:300px;">
            </div>
            
            <div class="ftitle">工程师信息</div>
            <div class="fitem">
                <label>工程师:</label>
                <input name="engineer_name" class="easyui-textbox" disabled="true">
            </div>
        </form>
    </div>
    <div id="dlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveItem('#fm-detail')" style="width:90px">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg-detail').dialog('close')" style="width:90px">关闭</a>
    </div>
    
    <div id="dlg-cancel" class="easyui-dialog" style="width:600px;height:400px;padding:10px 20px" closed="true" buttons="#dlg-buttons">
        <form id="fm-cancel" method="post">
            <div class="ftitle">取消原因</div>
            <div class="fitem">
                <table id="order_cancel" class="easyui-datagrid" style="width:500px; max-height: 260px;" url="/admin/order/orderCloseReasons" rownumbers="true" checkOnSelect="true" singleSelect="true">
                    <thead>
                        <tr>
                            <th field="ck" checkbox="true" width="5"></th>
                            <th field="name" width="400">取消原因</th>
                        </tr>
                    </thead>
                </table>
                <input id="close_reason" name="close_reason" type="hidden">
            </div>
        </form>
    </div>
    <div id="dlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveCancelItem('#fm-cancel')" style="width:90px">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg-cancel').dialog('close')" style="width:90px">取消</a>
    </div>
    
    <div id="dlg-remark" class="easyui-dialog" style="width:600px;height:350px;padding:10px 20px" closed="true" buttons="#dlg-buttons">
        <form id="fm-remark" method="post">
            <div class="ftitle">客服备注</div>
            <div class="fitem">
                <label>客服备注:</label>
                <input name="remark" class="easyui-textbox" style="width:300px;height: 70px" multiline="true" required="true">
            </div>
            <div class="fitem">
                <label>工程师备注:</label>
                <input name="engineer_remark" class="easyui-textbox" style="width:300px;height: 70px" multiline="true" disabled="true">
            </div>
            <div class="fitem">
                <label>客户备注:</label>
                <input name="user_remark" class="easyui-textbox" style="width:400px;height: 70px" multiline="true" disabled="true">
            </div>
        </form>
    </div>
    <div id="dlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveRemarkItem('#fm-remark')" style="width:90px">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg-remark').dialog('close')" style="width:90px">取消</a>
    </div>
    <div id="load" class="easyui-dialog" title="消息" closed="true" style="width:200px;height:100px;padding:10px">
        <span>处理中...</span>
    </div>
    <div id="dlg-order-img" class="easyui-dialog" style="width:900px;max-height:500px;max-width:1200px;padding:10px 20px" closed="true" buttons="#dlg-order-img-buttons">
        <div class="fitem">
            <img id="order_img" width="820">
        </div>
    </div>
    <div id="dlg-order-img-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg-order-img').dialog('close')" style="width:90px">关闭</a>
    </div>
</body>
</html>