<include file="Public:header"  title="分销中心" />{/*标题设置*/}
<link type="text/css" href="__PUBLIC__/Unionstatic/css/layout.css" rel="stylesheet" />
<link type="text/css" href="__PUBLIC__/Unionstatic/css/order.css" rel="stylesheet" />
<div id="container">
    <div id="header">
        <div id="top">
            <include file="Public:top"  title="分销中心" />
        </div>
        <div id="navbar">
            <include file="Public:menu"  title="分销中心" />
        </div>
    </div>
    <div id="bgwrap">

        <div class="formContent">
            <form id="search_form" class="form-panel" method="get" action="<?php echo U(MODULE_NAME . '/' . CONTROLLER_NAME .'/order'); ?>">
                <input type="hidden" name="address" value="<?php echo $get['address'] ?>">
                <div class="panel-title">
                    <span>
                        <span><?php echo $get['address'] ?>订单&nbsp;&nbsp;</span>
                        <label for="search_start_time">下单日期：</label>
                        <input type="text" class="calendar" name="start_time" id="search_start_time" value="<?php if(!empty($get['start_time'])){ echo $get['start_time'];}?>">
                        <label for="search_end_time">至</label>
                        <input type="text" class="calendar" name="end_time" id="search_end_time" value="<?php if(!empty($get['end_time'])){ echo $get['end_time'];}?>">
                    </span>
                </div>
                <ul class="panel-content">
                    <li class="mt10 mb10">
                        <label for="search_type">上门类型：</label>
                        <select name="category" id="search_category" value="<?php if(!empty($get['category'])){ echo $get['category'];}?>">
                            <option value="0">全部</option>
                            <option value="1" <?php if(!empty($get['category']) && $get['category'] == 1){ echo 'selected="selected"';}?>>上门维修</option>
                            <option value="2" <?php if(!empty($get['category']) && $get['category'] == 2){ echo 'selected="selected"';}?>>邮寄维修</option>
                            <option value="2" <?php if(!empty($get['category']) && $get['category'] == 3){ echo 'selected="selected"';}?>>到店维修</option>
                        </select>
                    </li>
                    <li class="mb10">
                        <label for="search_keyword">关键字(订单ID/订单编号/客户电话/客户姓名/客户地址)：</label>
                        <input type="text" style="width:200px" id="search_keyword" name="keyword" value="<?php if(!empty($get['keyword'])){ echo $get['keyword'];}?>">
                        &nbsp;&nbsp;
                        <button type="submit" class="button button-primary">查询&gt;&gt;</button>
                        <button type="button" class="button button-primary" id="search_reset">重置</button>
                    </li>
                </ul>
            </form>
            <table cellspacing="0" class="table table-bordered fullwidth orderListTable">
                <thead>
                    <tr>
                        <th>订单编号</th>
                        <th>客户信息</th>
                        <th>手机型号</th>
                        <th>上门类型</th>
                        <th>故障</th>
                        <th>下单时间</th>
                        <th>状态</th>
                        <th>预计价格</th>
                        <th>实际价格</th>
                        <th>付款方式</th>
                        <th>结算</th>
                    </tr>
                </thead>
                <tbody>
                    <?php if (!empty($list)): ?>
                        <?php foreach ($list as $key => $value): ?>
                            <tr>
                                <td>
                                    <?php echo $value['number']; ?>
                                </td>
                                <td>
                                    <?php echo $value['cname']; ?>(<?php if (isset($shareType) && $shareType == 2) { echo $value['ccellphone']; } else { echo '***********';} ?>)
                                </td>
                                <td class="phone_Name">
                                    <?php echo $value['alias'] .' '.$value['color'];?>
                                </td>
                                <td>
                                    <?php
                                        switch($value['category']) {
                                            case 1: echo '<span class="control-text">上门维修</span>';break;
                                            case 3: echo '<span class="control-text">到店维修</span>';break;
                                            case 2: echo '<span class="control-text">邮寄维修</span>';break;
                                        }
                                    ?>
                                </td>
                                <td>
                                    <?php if (!empty($value['malfunctions'])): ?>
                                        <?php foreach ($value['malfunctions'] as $v): ?>
                                            <span class="control-text"><?php echo $v['name']; ?></span><br/>
                                        <?php endforeach ?>
                                    <?php else: ?>
                                        <span class="control-text">其他故障</span>
                                    <?php endif ?>
                                </td>
                                <td><?php echo date('Y-m-d H:i:s', $value['create_time']); ?></td>
                                <td>
                                    <?php
                                        switch ($value['status']) {
                                            case '-2':
                                                echo '<span>订单异常(付款失败)</span>';
                                                break;
                                            case '-1':
                                                echo '<span>订单取消</span>';
                                                break;
                                            case '1':
                                                echo '<span>下单</span>';
                                                break;
                                            case '2':
                                                echo '<span>派单</span>';
                                                break;
                                            case '3':
                                                echo '<span>接单</span>';
                                                break;
                                            case '4':
                                                echo '<span>处理中</span>';
                                                break;
                                            case '5':
                                                echo '<span>结单</span>';
                                                break;
                                            case '6':
                                                echo '<span>入库</span>';
                                                break;
                                            case '7':
                                                echo '<span>待审核</span>';
                                                break;
                                            case '8':
                                                echo '<span>订单结束</span>';
                                                break;
                                            case '11':
                                                echo '<span>取回</span>';
                                                break;
                                            case '12':
                                                echo '<span>改约</span>';
                                                break;
                                            case '21':
                                                echo '<span>客服-处理中</span>';
                                                break;
                                            case '22':
                                                echo '<span>客服-处理完成</span>';
                                                break;
                                            default:
                                                echo '<span>未知</span>';
                                                break;
                                        }
                                    ?>
                                </td>
                                <td><?php echo $value['reference_price'] == 0 ? '待检测' : $value['reference_price']; ?></td>
                                <td><?php echo $value['actual_price']; ?></td>
                                <td>
                                    <?php
                                        switch ($value['payment_method']) {
                                            case '1':
                                                echo '<span>支付宝</span>';
                                                break;
                                            case '2':
                                                echo '<span>微信</span>';
                                                break;
                                            case '3':
                                                echo '<span>网银</span>';
                                                break;
                                            case '4':
                                                echo '<span>现金</span>';
                                                break;
                                            default:
                                                echo '<span>未知</span>';
                                                break;
                                        }
                                    ?>
                                </td>
                                <td>
                                    <?php if ($value['is_clearing'] == 1): ?>
                                        <span>是</span>
                                    <?php else: ?>
                                        <span>否</span>
                                    <?php endif ?>
                                </td>
                            </tr>
                        <?php endforeach ?>
                    <?php else: ?>
                        <tr>
                            <td colspan="9">暂无记录！</td>
                        </tr>
                    <?php endif ?>
                </tbody>
            </table>
            <?php echo $page; ?>
        </div>

    </div>
</div>
<div id="footer">
    <p class="mid">
        <a href="http://www.weadoc.com" class="tooltip">闪修侠官网</a>&middot;<a href="#" class="tooltip">关于我们</a>
    </p>
    <p class="mid">
        &copy; 闪修侠版权所有 技术支持:闪修侠研发团队
    </p>
</div>
<include file="Public:footer"/>