<include file="Public:header"  title="分销中心" />{/*标题设置*/}
<link type="text/css" href="__PUBLIC__/Unionstatic/css/layout.css" rel="stylesheet" />
<link type="text/css" href="__PUBLIC__/Unionstatic/css/order.css" rel="stylesheet" />
<div id="container">
    <div id="header">
        <div id="top">
            <include file="Public:top"  title="分销中心" />
        </div>
        <div id="navbar">
            <include file="Public:menu"  title="分销中心" />
        </div>
    </div>
    <div id="bgwrap">

        <div class="formContent">
            <form id="search_form" class="form-panel" method="post" action="<?php echo U('home/index/editorpwd'); ?>">

                <ul class="panel-content">
                    <li class="mb10">
                        <label for="search_keyword">姓名：</label>
                        <input type="text" style="display: none" id="id" name="id"   value="<?php echo $user['id']?>">
                        <input type="text" style="width:200px" id="name" name="name" disabled="disabled"  value="<?php echo $user['name']?>">
                        &nbsp;&nbsp;<br/>
                        <label for="search_keyword">账号：</label>
                        <input type="text" style="width:200px" id="user" disabled="disabled" name="user" value="<?php echo $user['user']?>">
                        &nbsp;&nbsp;<br/>
                        <label for="search_keyword">密码：</label>
                        <input type="text" style="width:200px;" placeholder="填写密码提交代表修改密码" id="password" name="password" value="">
                        &nbsp;&nbsp;<br/>
                        <label for="search_keyword">类型：</label>
                        <input type="text" style="width:200px" id="type" disabled="disabled" name="type" value="<?php echo $user['type'] == 1 ?  '工程师' : '企业合作' ?>">
                        &nbsp;&nbsp;<br/>
                        <label for="search_keyword">备注：</label>
                        <input type="text" style="width:200px" id="remark" disabled="disabled" name="remark" value="<?php echo $user['remark']?>">
                        &nbsp;&nbsp;<br/>
                        <button type="button" onclick="button()" class="button button-primary">提交</button>

                    </li>
                </ul>
            </form>
        </div>

    </div>
</div>
<div id="footer">
    <p class="mid">
        <a href="http://www.weadoc.com" class="tooltip">闪修侠官网</a>&middot;<a href="#" class="tooltip">关于我们</a>
    </p>
    <p class="mid">
        &copy; 闪修侠版权所有 技术支持:闪修侠研发团队
    </p>
</div>
<script typet="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<script>
    function button() {
        if ($("#password").val().length < 6) {
            alert('密码长度不得小于6位');
            return  false;
        }
        $.ajax({ url: "<?php echo U('home/index/editorpwd'); ?>",
            data:{
                password : $("#password").val(),
                id : $("#id").val()
            },
            success: function(rst){

                if (rst == true) {
                    alert('修改成功');
                } else {
                    alert('修改失败，请联系管理员修改');
                }
        }});
    }
</script>
<include file="Public:footer"/>