<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>user</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/vendor/easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/vendor/easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/user.css">
    <script type="text/javascript" src="__PUBLIC__/vendor/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/vendor/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/vendor/easyui/datagrid-cellediting.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/user.js"></script>
    <script type="text/javascript">
        var url;

        function cancel(){
            var row = $('#dg').datagrid('getSelected');
            if (row){
                $.messager.confirm('Confirm', '确认取消此记录?',function(r){
                    if (r){
                        $.post('/admin/Orderactivity/cancel',{id:row.id},function(result){
                            if (result.success){
                                $('#dg').datagrid('reload');
                            } else {
                                $.messager.show({
                                    title: '错误',
                                    msg: result.errorMsg,
                                    showType:'fade',
                                    style:{
                                        right:'',
                                        bottom:''
                                    }
                                });
                            }
                        },'json');
                    }
                });
            } else {
                $.messager.show({
                    title: '错误',
                    msg: '请选择一条记录！',
                    showType:'fade',
                    style:{
                        right:'',
                        bottom:''
                    }
                });
            }
        }

        function searchItem(){
            $('#dg').datagrid({
                queryParams: {
                    start_time: $('#start_time').combobox('getValue'),
                    end_time: $('#end_time').combobox('getValue'),
                    keyword: $('#search-keyword').val(),
                    status: $('#search-status').combobox('getValue'),
                    city: $('#city').combobox('getValue')
                }
            });
        }


        function saveUser(){

            $('#fm').form('submit',{
                url: url,
                onSubmit: function(){
                    return $(this).form('validate');
                },
                success: function(result){
                    var result = eval('('+result+')');
                    if (result.errorMsg){
                        $.messager.show({
                            title: 'Error',
                            msg: result.errorMsg
                        });
                    } else {
                        $('#dlg').dialog('close');		// close the dialog
                        $('#dg').datagrid('reload');	// reload the user data
                    }
                }
            });
        }
        
        function exportItem()
        {
        	$('#search').form('submit', {
                url: '/admin/Orderactivity/export',
                queryParams: {
                	start_time: $('#start_time').combobox('getValue'),
                    end_time: $('#end_time').combobox('getValue'),
                    keyword: $('#search-keyword').val(),
                    status: $('#search-status').combobox('getValue')
                }
            });
        }

        $(function(){

            $('#mm').menu();
            $(document).bind('contextmenu',function(e){
                e.preventDefault();
                $('#mm').menu('show', {
                    left: e.pageX,
                    top: e.pageY
                });
            });
        });
        
        function formStatus(val){

			if (val == 6){
			   return '已付款'
			}

            if (val == 1){
                return '下单';
            }

            if (val == -1){
                return '取消';
            }

        }

        function formPayment(val){
            if (val == 1){
                return '支付宝'
            }

            if (val == 2){
                return '微信'
            }


        }

        function formType(val) {
            if (val == 1){
                return '一元体验'
            }

            if (val == 2){
                return '钢化膜'
            }

            if (val == 3){
                return '数据线'
            }

        }

        //行操作按钮
        function formatButton(){
            return $('#rowmenu').html();
        }

    </script>
</head>
<body class="easyui-layout">
        <div id="box" class="easyui-dialog" style="width: 900px;min-height: 400px;" closed="true">
            <div data-options="region:'east'" style="width:880px;">

                <table id="joinex" class="easyui-datagrid" singleSelect="true" pagination="true" pageSize="20">
                    <thead>
                    <tr>
                        <th field="id" width="33%">ID</th>
                        <th field="name" width="33%">名称</th>
                        <th field="amount" width="33%">数量</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <table id="dg" title="分享统计列表" class="easyui-datagrid" style="width:100%;" url="/admin/orderactivity/row" toolbar="#toolbar" pagination="true" pageSize="30" pagePosition="top" rownumbers="true" fitColumns="true" singleSelect="true" rownumbers="true" pagination="true">
            <thead>
            <tr>
                <th field="id" id="id" width="3%">ID</th>
                <th field="type"formatter="formType" width="9%">类型</th>
                <th field="phone_name" width="9%">机型</th>
                <th field="city" width="9%">地址</th>
                <th field="status" formatter="formStatus" width="9%">订单状态</th>
                <th field="create_time" formatter="formatDate" width="9%">下单时间</th>
                <th field="clearing_time" formatter="formatDate" width="9%">付款时间</th>
                <th field="payment" formatter="formPayment" width="4%">支付类型</th>
                <th field="thirdparty_number" width="9%">第三方交易号</th>
                <th field="thirdparty_accrount" width="9%">第三方账号</th>
                <th field="remark" width="10%">备注</th>
                <th field="action" formatter="formatButton" width="5%">操作</th>
            </tr>
            </thead>
    	</table>

	    <div id="toolbar">
	    	<form id="search" method="post" action="<?php echo U('admin/share/export');?>">
	        <span>下单时间:</span>
	        <input class="easyui-datetimebox" id="start_time" name="start_time" style="width:200px">
	        <span>到</span>
	        <input class="easyui-datetimebox" id="end_time" name="end_time" style="width:200px">
            <label>地址:</label>
            <select class="easyui-combobox" name="city" id="city">
                <option value="all">全部</option>
                <?php foreach(session('addresses') as $k => $v) { ?>
                <option value="<?php echo $v['city'];?>"><?php echo $v['cityname'];?></option>
                <?php }?>
            </select>
            &nbsp;&nbsp;
            状态:
            <select class="easyui-combobox" id='search-status' panelHeight="auto">
            <option value="2">全部</option>
            <option value="1">下单</option>
            <option value="6">已付款</option>
            <option value="-1">取消</option>
	        </select>
	        <span>关键字:</span>
	        <input type="text" class="easyui-textbox" id='search-keyword' panelHeight="auto">
			<a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconCls="icon-search" onclick="searchItem()">搜索</a>
			<a href="javascript:void(0)" class="easyui-linkbutton <?php if(!isset($buttons['导出'])) { echo 'hide';} ?>" plain="true" iconCls="icon-export" onclick="exportItem()">导出</a>
			</form>
	    </div>
	    <div id="load" class="easyui-dialog" title="消息" closed="true" style="width:200px;height:100px;padding:10px">
	        <span>处理中...</span>
	    </div>
        <div id="dlg" class="easyui-dialog" style="width:300px;height:200px;padding:10px 20px"
             closed="true" buttons="#dlg-buttons">
            <form id="fm" method="post">
                <div class="fitem">
                    <div class="fitem">
                        <label>备注:</label>
                        <input name="remark" class="easyui-textbox" data-options="multiline:true"  prompt="备注" >
                    </div>
                </div>
            </form>
        </div>
        <div id="rowmenu" class="hide">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="selectedRow($(this));cancel()">取消</a>&nbsp;
        </div>
        <div id="win" class="easyui-dialog" style="width: 900px;min-height: 400px;" closed="true">
            <div data-options="region:'east'" style="width:880px;">

            </div>
        </div>
        <div id="w" class="easyui-window" closed="true" data-options="title:'错误',inline:true" style="width:50px;height:25px;padding:10px">

        </div>
</body>
</html>