<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>user</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/vendor/easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/vendor/easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/user.css">
    <script type="text/javascript" src="__PUBLIC__/vendor/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/vendor/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/user.js"></script>
    <script type="text/javascript">
        var url;

        function newItem(){
            $('#dlg-add').dialog('open').dialog('center').dialog('setTitle', '添加');
            $('#fm').form('clear');
            url = '/admin/site/add';
        }

        function editItem(){
            var row = $('#dg').datagrid('getSelected');
            if (row){
                $('#dlg-edit').dialog('open').dialog('center').dialog('setTitle','编辑');
                $('#fm-edit').form('load', row);
                url = '/admin/site/save/id/' + row.id;
            } else {
                $.messager.show({
                    title: '错误',
                    msg: '请选择一条记录！',
                    showType:'fade',
                    style:{
                        right:'',
                        bottom:''
                    }
                });
            }
        }

        function saveItem(form) {
            $(form).form('submit',{
                url: url,
                onSubmit: function(){
                    var rst = $(this).form('validate');

                    if (rst) {
                        $('#load').dialog('open');
                        return true;
                    } else {
                        return false;
                    }
                },
                success: function(result){
                    $('#load').dialog('close');
                    var result = eval('('+result+')');
                    if (result.success){
                        $('#dlg-add').dialog('close');
                        $('#dlg-edit').dialog('close');
                        $('#dg').datagrid('reload');
                    } else {
                        $.messager.show({
                            title: '错误',
                            msg: result.errorMsg,
                            showType:'fade',
                            style:{
                                right:'',
                                bottom:''
                            }
                        });
                    }
                }
            });
        }

        function deleteItem(){
            var row = $('#dg').datagrid('getSelected');
            if (row){
                $.messager.confirm('Confirm', '确认删除此记录?',function(r){
                    if (r){
                        $.post('/admin/site/delete',{id:row.id},function(result){
                            if (result.success){
                                $('#dg').datagrid('reload');
                            } else {
                                $.messager.show({
                                    title: '错误',
                                    msg: result.errorMsg,
                                    showType:'fade',
                                    style:{
                                        right:'',
                                        bottom:''
                                    }
                                });
                            }
                        },'json');
                    }
                });
            } else {
                $.messager.show({
                    title: '错误',
                    msg: '请选择一条记录！',
                    showType:'fade',
                    style:{
                        right:'',
                        bottom:''
                    }
                });
            }
        }

        function searchItem(){
            $('#dg').datagrid({
                queryParams: {
                    status: $('#search-status').combobox('getValue'),
                    keyword: $('#search-keyword').val(),
                }
            });
        }
        
        function searchNews(){
        	
        	var row1 = $("#inr").datagrid('getSelected');
        	
            $('#notinnews').datagrid({
                queryParams: {
                    column: $('#search-column').combobox('getValue'),
                    newskeyword: $('#search-newskeyword').val(),
                }
                
            });
            
            /*url:'/admin/site/notinNews/id/' + row1.ccid, */
        }

        // 栏目管理
        function memberItem(){
        	
            var row = $("#dg").datagrid('getSelected');
				window.rows = row;
            if(row) {
            
                $("#aur").dialog("open").dialog("setTitle",row.site_name+'栏目管理');
                
                $('#inr').datagrid({    
                    url:'/admin/site/incolumn/id/' + row.id,        
                });
                
                $('#notr').datagrid({    
                    url:'/admin/site/notincolumn/id/' + row.id,        
                });
                
            } else {
                $.messager.show({
                    title: '错误',
                    msg: '请选择一条记录！',
                    showType:'fade',
                    style:{
                        right:'',
                        bottom:''
                    }
                });
            }
        }

        function addColumn(){
            var row = $("#dg").datagrid('getSelected'); 
            var row1 = $("#notr").datagrid('getSelected');

            if(row1){
                $.post('/admin/site/addColumn',{siteId:row.id,columnId:row1.id},function(result){
                    if (result.success){
                        $('#inr').datagrid('reload');
                        $('#notr').datagrid('reload');
                    } else {
                        $.messager.show({
                            title: '错误',
                            msg: result.errorMsg,
                            showType:'fade',
                            style:{
                                right:'',
                                bottom:''
                            }
                        });
                    }
                },'json');
            } else {
                $.messager.show({
                    title: '错误',
                    msg: '请选择一条记录！',
                    showType:'fade',
                    style:{
                        right:'',
                        bottom:''
                    }
                });
            }
        }
        
       	function removeColumn(){
            var row = $("#dg").datagrid('getSelected'); 
            var row1 = $("#inr").datagrid('getSelected');

            if(row1){
                $.post('/admin/site/removeColumn',{siteId:row.id,columnId:row1.id,columnClassId:row1.ccid},function(result){
                    if (result.success){
                        $('#inr').datagrid('reload');
                        $('#notr').datagrid('reload');
                    } else {
                        $.messager.show({
                            title: '错误',
                            msg: result.errorMsg,
                            showType:'fade',
                            style:{
                                right:'',
                                bottom:''
                            }
                        });
                    }
                },'json');
            } else {
                $.messager.show({
                    title: '错误',
                    msg: '请选择一条记录！',
                    showType:'fade',
                    style:{
                        right:'',
                        bottom:''
                    }
                });
            }
        }

		//网站下所含栏目新闻管理操作按钮
		function formatButtonzh() {
		    return $('#rowmenuzh').html();
		}

		// 新闻管理
        function manageItem(){
        
            var row1 = $("#inr").datagrid('getSelected');
			
            if(row1) {
            
                $("#news").dialog("open").dialog("setTitle",window.rows.site_name+row1.column_name+"新闻管理");
                
                $('#innews').datagrid({    
                    url:'/admin/site/inNews/id/' + row1.ccid,        
                });
                
                $('#notinnews').datagrid({    
                    url:'/admin/site/notinNews/id/' + row1.ccid,        
                });
                
            } else {
                $.messager.show({
                    title: '错误',
                    msg: '请选择一条记录！',
                    showType:'fade',
                    style:{
                        right:'',
                        bottom:''
                    }
                });
            }
        }

        function addNews(){
        	var row = $("#inr").datagrid('getSelected');
            var row1 = $("#notinnews").datagrid('getSelected');

            if(row1){
                $.post('/admin/site/addNews',{columnClassId:row.ccid,newsId:row1.id},function(result){
                    if (result.success){
                        $('#innews').datagrid('reload');
                        $('#notinnews').datagrid('reload');
                    } else {
                        $.messager.show({
                            title: '错误',
                            msg: result.errorMsg,
                            showType:'fade',
                            style:{
                                right:'',
                                bottom:''
                            }
                        });
                    }
                },'json');
            } else {
                $.messager.show({
                    title: '错误',
                    msg: '请选择一条记录！',
                    showType:'fade',
                    style:{
                        right:'',
                        bottom:''
                    }
                });
            }
        }
        
       	function removeNews(){
       		var row = $("#inr").datagrid('getSelected');
            var row1 = $("#innews").datagrid('getSelected');

            if(row1){
                $.post('/admin/site/removeNews',{columnClassId:row.ccid,newsId:row1.id},function(result){
                    if (result.success){
                        $('#innews').datagrid('reload');
                        $('#notinnews').datagrid('reload');
                    } else {
                        $.messager.show({
                            title: '错误',
                            msg: result.errorMsg,
                            showType:'fade',
                            style:{
                                right:'',
                                bottom:''
                            }
                        });
                    }
                },'json');
            } else {
                $.messager.show({
                    title: '错误',
                    msg: '请选择一条记录！',
                    showType:'fade',
                    style:{
                        right:'',
                        bottom:''
                    }
                });
            }
        }

        $(function(){
            $('#mm').menu();
            $(document).bind('contextmenu',function(e){
                e.preventDefault();
                $('#mm').menu('show', {
                    left: e.pageX,
                    top: e.pageY
                });
            });
        });
    </script>
</head>
<body class="easyui-layout">
        <table id="dg" title="用户列表" class="easyui-datagrid" style="width:100%;" url="/admin/site/rows" toolbar="#toolbar" pagination="true" pageSize="30" pagePosition="top" rownumbers="true" fitColumns="true" singleSelect="true" rownumbers="true" pagination="true">
        <thead>
            <tr>
                <th field="id" width="5">ID</th>
                <th field="site_name" width="20">网站名称</th>
                <th field="site_address" width="10">域名</th>
                <th field="site_ip" width="10">网址</th>
                <th field="remark" width="20">备注</th>
                <th field="status" width="10" formatter="formatStatus">状态</th>
                <th field='action' width="35" formatter="formatRowActionButton">操作</th>
            </tr>
        </thead>
    </table>
    <div id="toolbar">
        <span>状态:</span>&nbsp;&nbsp;
        <select class="easyui-combobox" id='search-status' panelHeight="auto">
            <option value="all">全部</option>
            <option value="1">启用</option>
            <option value="0">禁用</option>
        </select>
        &nbsp;&nbsp;
        <span>关键字:</span>
        <input type="text" class="easyui-textbox" id='search-keyword' panelHeight="auto">
        <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconCls="icon-search" onclick="searchItem()">搜索</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconCls="icon-add" onclick="newItem()">添加</a>
    </div>
    <div id="toolbar2">
        <span>栏目:</span>&nbsp;&nbsp;
        <select class="easyui-combobox" id='search-column' panelHeight="auto">
            <option value="all">全部</option>
            <option value="1">娱乐</option>
            <option value="2">军事</option>
            <option value="3">体育</option>
            <option value="4">健康</option>
            <option value="5">游戏</option>
            <option value="6">直播</option>
        </select>
        &nbsp;&nbsp;
        <span>关键字:</span>
        <input type="text" class="easyui-textbox" id='search-newskeyword' panelHeight="auto">
        <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconCls="icon-search" onclick="searchNews()">搜索</a>
    </div>
    <div id="mm" style="width:120px;">
        <div iconCls="icon-add" class="<?php if(!isset($buttons['添加'])) { echo 'hide';} ?>" onclick="newItem()"><span>添加</span></div>
        <div iconCls="icon-edit" class="<?php if(!isset($buttons['编辑'])) { echo 'hide';} ?>" onclick="editItem()"><span>编辑</span></div>
        <div iconCls="icon-remove" class="<?php if(!isset($buttons['删除'])) { echo 'hide';} ?>" onclick="deleteItem()"><span>删除</span></div>
        <div iconCls="icon-more" class="<?php if(!isset($buttons['包含栏目管理'])) { echo 'hide';} ?>" onclick="memberItem()"><span>包含栏目管理</span></div>
    </div>
    <div id="rowmenu" class="hide">
        <a href="javascript:void(0)" class="easyui-linkbutton <?php if(!isset($buttons['编辑'])) { echo 'hide';} ?>" iconCls="icon-edit" plain="true" onclick="selectedRow($(this));editItem();">编辑</a>
        <a href="javascript:void(0)" class="easyui-linkbutton <?php if(!isset($buttons['删除'])) { echo 'hide';} ?>" iconCls="icon-remove" plain="true" onclick="selectedRow($(this));deleteItem();">删除</a>
        <a href="javascript:void(0)" class="easyui-linkbutton <?php if(!isset($buttons['包含栏目管理'])) { echo 'hide';} ?>" iconCls="icon-more" plain="true" onclick="selectedRow($(this));memberItem();">包含栏目管理</a>
    </div>
    
    <div id="rowmenuzh" class="hide">
        <a href="javascript:void(0)" class="easyui-linkbutton " iconCls="icon-edit" plain="true" onclick="selectedRow($(this));manageItem();">新闻管理</a>
    </div>
    
    <div id="dlg-add" class="easyui-dialog" style="width:500px;min-height:350px;padding:10px 20px" closed="true" buttons="#dlg-buttons">
        <div class="ftitle">网站信息</div>
        <form id="fm" method="post">
            <div class="fitem">
                <label>网站名称:</label>
                <input name="site_name" class="easyui-textbox" prompt="网站名称"  data-options="required:true,validType:{length:[1,16]}">
            </div>
            <div class="fitem">
                <label>域名:</label>
                <input name="site_address" class="easyui-textbox" prompt="域名"  data-options="required:true,validType:{length:[1,16]}">
            </div>
            <div class="fitem">
                <label>网址:</label>
                <input name="site_ip" class="easyui-textbox" prompt="网址"  data-options="required:true,validType:{length:[1,16]}">
            </div>
            <div class="fitem">
                <label>状态:</label>
                启用:
                <input class="easyui-validatebox" name="status" type="radio" required="true" value="1" validType="requireRadio['input[name=\'status\']']">
                禁用:
                <input class="easyui-validatebox" name="status" type="radio" required="true" value="0">
            </div>
            <div class="fitem">
                <label>备注(50个字):</label>
                <input class="easyui-textbox" name="remark" style="width:160px;height:60px" data-options="multiline:true">
            </div>
        </form>
    </div>
    <div id="dlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveItem('#fm')" style="width:90px">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg-add').dialog('close')" style="width:90px">取消</a>
    </div>
    <div id="dlg-edit" class="easyui-dialog" style="width:500px;min-height:350px;padding:10px 20px" closed="true" buttons="#dlg-buttons">
        <div class="ftitle">网站信息</div>
        <form id="fm-edit" method="post">
            <div class="fitem">
                <label>网站名称:</label>
                <input name="site_name" class="easyui-textbox" prompt="网站名称" required="true">
                <!-- <input name="username" class="easyui-textbox" prompt="用户名" data-options="readonly:true"> -->
            </div>
            <div class="fitem">
                <label>域名:</label>
                <input name="site_address" class="easyui-textbox" prompt="域名" required="true">
            </div>
            <div class="fitem">
                <label>网址:</label>
                <input name="site_ip" class="easyui-textbox" prompt="网址"  required="true">
            </div>
            <div class="fitem">
                <label>状态:</label>
                启用:
                <input class="easyui-validatebox" name="status" type="radio" required="true" value="1" validType="requireRadio['input[name=\'status\']']">
                禁用:
                <input class="easyui-validatebox" name="status" type="radio" required="true" value="0">
            </div>
            <div class="fitem">
                <label>备注(50个字):</label>
                <input class="easyui-textbox" name="remark" style="width:160px;height:60px" data-options="multiline:true">
            </div>
        </form>
    </div>
    <div id="dlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveItem('#fm-edit')" style="width:90px">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg-edit').dialog('close')" style="width:90px">取消</a>
    </div>
     
    <div id="load" class="easyui-dialog" title="消息" closed="true" style="width:200px;height:100px;padding:10px">
        <span>处理中...</span>
    </div>
    <div id="aur" class="easyui-dialog" style="width: 800px;min-height: 400px;" closed="true">
        <div id="cc" class="easyui-layout" fit="true">     
            <div data-options="region:'west'" style="width:300px;">
                <table id="notr" class="easyui-datagrid" singleSelect="true" title="所有栏目列表">
                    <thead>
                        <tr>
                            <th field="id" width="60" align="center">栏目ID</th>
                            <th field="column_name" width="60" align="center">栏目名称</th>
                            
                        </tr>
                    </thead>
                </table>
            </div>   
            <div data-options="region:'east'" style="width:400px;">
                <table id="inr" class="easyui-datagrid" singleSelect="true" title="成员栏目列表">
                    <thead>
                        <tr>
                           <th field="id" width="60" align="center">栏目ID</th>
                           <th field="column_name" width="60" align="center">栏目名称</th>
                           <th field="ccid" width="80" align="center">栏目分类ID</th>
                           <th field='action' width="120" align="center" formatter="formatButtonzh">操作</th>
                        </tr>
                    </thead>
                </table>        
            </div>   
            <div data-options="region:'center'">
                <div align="center" style="height:200px;padding:30px;">
                    <a href="javascript:addColumn()" class="easyui-linkbutton">&nbsp;&nbsp;&gt;&gt;&nbsp;&nbsp;</a>
                </div>
                <div align="center">
                    <a href="javascript:removeColumn()" class="easyui-linkbutton">&nbsp;&nbsp;&lt;&lt;&nbsp;&nbsp;</a>
                </div>      
            </div>   
        </div> 
    </div>
    <div id="news" class="easyui-dialog" style="width: 1200px;min-height: 600px;" closed="true" >
        <div id="zzhh" class="easyui-layout" fit="true">     
            <div data-options="region:'west'" style="width:530px;">
                <table id="notinnews" class="easyui-datagrid" singleSelect="true" title="所有新闻列表" toolbar="#toolbar2" pagination="true" pageSize="10" pagePosition="top" rownumbers="true" singleSelect="true">
                    <thead>
                        <tr>
                            <th field="id" width="60" align="center">新闻ID</th>
                            <th field="title" width="120" align="center">新闻标题</th>
                            <th field="column_name" width="60" align="center">所属栏目</th>
                            
                        </tr>
                    </thead>
                </table>
            </div>   
            <div data-options="region:'east'" style="width:530px;">
                <table id="innews" class="easyui-datagrid" singleSelect="true" title="成员新闻列表">
                    <thead>
                        <tr>
                           <th field="id" width="60" align="center">新闻ID</th>
                           <th field="title" width="120" align="center">新闻标题</th>
                           
                        </tr>
                    </thead>
                </table>        
            </div>   
            <div data-options="region:'center'">
                <div align="center" style="height:200px;padding:30px;">
                    <a href="javascript:addNews()" class="easyui-linkbutton">&nbsp;&nbsp;&gt;&gt;&nbsp;&nbsp;</a>
                </div>
                <div align="center">
                    <a href="javascript:removeNews()" class="easyui-linkbutton">&nbsp;&nbsp;&lt;&lt;&nbsp;&nbsp;</a>
                </div>      
            </div>   
        </div> 
    </div>
</body>
</html>