@import 'css3.css';

* {
	margin:0; padding:0;
}

body {
 position:relative;
 background:#fff url('../assets/loginbg.png') left top repeat-x;
 font-family:Tahoma, Arial, sans-serif;
}

img {
	border:0;
}

#container {
	width:960px;
	margin:0 auto;
    overflow: hidden;
}

#container .logo {
	width:230px;
	margin:240px auto 0;
}

#container #box {
 clear:both;
 float:none;
 width:70%;
 margin:50px auto 0;
}

p.main label {
 float:left;
 padding:5px;
 display:inline;
 margin-left:40px;
 font-size:13px;
 color:#000;
 margin-right:10px;
}

#box p {
 clear:both;
 float:none;
 width:100%;
}

p.main INPUT {
 background:url('../assets/input.png') 0 0 repeat-x;
 border:1px solid #d3d3d3;
 color:#555;
 padding:5px;
 float:left;
 width:200px;
}

input.login {
 float:right;
 padding:3px 10px 3px 10px;
 color:#fff;
 font-size:12px;
 text-decoration:none;
 border:1px solid #555;
 background:url('../assets/rep1.png') 50% 50% repeat-x;
 display:inline;
 margin-right:5px;
}

span {
 font-size:13px;
 color:#666;
}

.space {
 padding-top:15px;
}

span input {
 margin-left:125px;
 margin-right:5px;
 border:1px solid #111;
 background:#444;
 color:#fff;
}
/*popUpBox*/
.P_popBg{position: fixed;width: 100%;bottom:0;z-index: 999;left:0;}
.P_popMain{position: fixed;z-index: 1000;left: 50%; top:50%;/*display: none*/;}

.P_popMain .defalut{ width: 620px;height: 220px; background-color: #fbfbfb; font-size: 20px; color: #333; line-height: 220px; text-align: center;font-weight: bold}
.P_popMain .close{ position: absolute;right:10px; top:10px; width: 25px; height: 25px;background:url("../images/icon_close.png") no-repeat;
 -webkit-transition: -webkit-transform 0.5s;
 -webkit-transition: transform 0.5s;
 -moz-transition: transform 0.5s;
 -ms-transition: transform 0.5s;
 -o-transition: transform 0.5s;
 transition: transform 0.5s;}
.P_popMain .close:hover{
 -webkit-transform: rotate(180deg);
 -moz-transform: rotate(180deg);
 -ms-transform: rotate(180deg);
 -o-transform: rotate(180deg);
 transform: rotate(180deg);}
/*hint*/
.leftHint,.rightHint,.topHint,.bottomHint {position: relative;padding:10px;line-height: 18px;letter-spacing : 2px;word-wrap:break-word;-moz-border-radius:5px;
    -webkit-border-radius: 5px;
    border-radius:5px;}
.leftHint:after,.leftHint:before,.rightHint:after,.rightHint:before,.topHint:after,.topHint:before,.bottomHint:after,.bottomHint:before {border: solid transparent;content: ' ';height: 0;left: 100%;position: absolute;width: 0;}
.leftHint:after {border-width: 6px;border-left: 10px solid #ccc;top: 7px;}
.leftHint:before {border-width: 7px;border-left: 12px solid #333;top: 6px;}
.rightHint:after {border-width: 6px;border-right: 10px solid #ccc;top: 6px;left:-16px;}
.rightHint:before {border-width: 7px;border-right: 12px solid #333;top: 5px;left:-19px;}
.topHint:after {border-width: 6px;border-top: 10px solid #ccc;top: 38px;left:11px;}
.topHint:before {border-width: 7px;border-top: 12px solid #333;top: 38px;left:10px;}
.bottomHint:after {border-width: 6px;border-bottom: 10px solid #ccc;top: -16px;left:11px;}
.bottomHint:before {border-width: 7px;border-bottom: 12px solid #333;top: -19px;left:10px;}

.disabledBtn{border:1px solid #cccccc!important; background:#cccccc!important;}
/*注册*/
#J_registerBtn{cursor: pointer;}
.registerWrap{padding:50px 100px;background: #ffffff;}
.registerWrap .registerRow input{
 background:url('../assets/input.png') 0 0 repeat-x;
 border:1px solid #d3d3d3;
 color:#555;
 padding:5px;
 width:200px;
}
.registerWrap .registerRow{margin-bottom:20px;}
.registerWrap .registerRow label{display: inline-block;text-align:right;width:80px;}
.registerBtnWrap{text-align:center;}
.registerBtnWrap .register{
  padding: 3px 10px 3px 10px;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  border: 1px solid #555;
  background: url('../assets/rep1.png') 50% 50% repeat-x;
  display: inline;
  margin-right: 5px;
}
#J_sendCode{
    padding: 3px 10px 3px 10px;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    width: 100px;
    border: 1px solid #555;
    background: url('../assets/rep1.png') 50% 50% repeat-x; !important;
    display: inline;
    margin-right: 5px;
    margin-left: 10px;
}
.registerWrap .again{
    display: none;
    padding: 3px 10px 3px 10px;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    width: 100px;
    border: 1px solid #555;
    background: url('../assets/rep1.png') 50% 50% repeat-x; !important;
    margin-right: 5px;
    margin-left: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}