#fm {
    margin:0;
    padding:10px 30px;
}
.ftitle {
    font-size:14px;
    font-weight:bold;
    padding:5px 0;
    margin-bottom:10px;
    border-bottom:1px solid #ccc;
}
.fitem {
    margin-bottom:5px;
}
.fitem label {
    display:inline-block;
    width:80px;
}

.hide {
    display: none;
}
.show {
    display: block;
}

.label {
    background-color: #999;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    padding: 1px 4px 1px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    white-space: nowrap;
}
.label-bg {
	background-color: #666;
}
.label-bg1 {
	background-color: #428cca;
}
.label-bg2 {
	background-color: #61b85c;
}
.label-bg3 {
	background-color: #d8544f;
}
.label-bg4 {
	background-color: #f0ad4e;
}
.label-bg5 {
	background-color: #5dc0de;
}
.label-bg6 {
	background-color: #20B2AA;
}
.label-bg7 {
	background-color: #008844;
}

.cls_toggle {
	max-height:200px;
	overflow:auto;
	overflow-x:hidden;
}
