<!DOCTYPE html>
<html>
<head>
    <title>[title]_闪修侠网站联盟</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="360-site-verification" content="69776b6bb8d94c41ff5cd821fd19081e" />
    <meta name="baidu-site-verification" content="oNFsN63Xq3" />
    <meta name="keywords" content="网站联盟" />
    <meta name="description" content="闪修侠-高品质的手机上门维修平台,提供苹果、三星、华为等主流机型的专业维修服务,正规认证、方便快捷、专业靠谱。维修从未如此好用,一个电话,服务到家:4000105678。" />
</head>
<script type="text/javascript">
    var weadoc={banner:'{$banner}',staticUrl:'__PUBLIC__/Unionstatic/',path:'__ROOT__/index.php/home/',action:'{$ACTION_NAME}',updata:'__UPDATA__'};
</script>
<script type="text/javascript" src="__PUBLIC__/Unionstatic/js/require.js"></script>
<script type="text/javascript" src="__PUBLIC__/Unionstatic/js/main.js?v=0.0.4"></script>
<body>