<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>user</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/vendor/easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/vendor/easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/user.css">
    <script type="text/javascript" src="__PUBLIC__/vendor/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/vendor/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/user.js"></script>
    <script type="text/javascript">
        var url;

        function newItem(){
            $('#dlg').dialog('open').dialog('center').dialog('setTitle', '添加');
            $('#fm').form('clear');
            url = '/admin/org/add';
        }

        function editItem(){
            var row = $('#dg').datagrid('getSelected');
            if (row){
                $('#dlg').dialog('open').dialog('center').dialog('setTitle','编辑');
                $('#fm').form('load', row);
                url = '/admin/org/save/id/' + row.id;
            } else {
                $.messager.show({
                    title: '错误',
                    msg: '请选择一条记录！',
                    showType:'fade',
                    style:{
                        right:'',
                        bottom:''
                    }
                });
            }
        }

        function saveItem(form) {
            $('#fm').form('submit',{
                url: url,
                onSubmit: function(){
                    if ($(this).form('validate')) {
                        $('#load').dialog('open');
                    };
                    return $(this).form('validate');
                },
                success: function(result){
                    $('#load').dialog('close');
                    var result = eval('('+result+')');
                    if (result.success){
                        $('#dlg').dialog('close');
                        $('#dg').datagrid('reload');
                    } else {
                        $.messager.show({
                            title: '错误',
                            msg: result.errorMsg,
                            showType:'fade',
                            style:{
                                right:'',
                                bottom:''
                            }
                        });
                    }
                }
            });
        }

        function deleteItem(){
            var row = $('#dg').datagrid('getSelected');
            if (row){
                $.messager.confirm('Confirm', '确认删除此记录?',function(r){
                    if (r){
                        $.post('/admin/org/delete',{id:row.id},function(result){
                            if (result.success){
                                $('#dg').datagrid('reload');
                            } else {
                                $.messager.show({
                                    title: '错误',
                                    msg: result.errorMsg,
                                    showType:'fade',
                                    style:{
                                        right:'',
                                        bottom:''
                                    }
                                });
                            }
                        },'json');
                    }
                });
            } else {
                $.messager.show({
                    title: '错误',
                    msg: '请选择一条记录！',
                    showType:'fade',
                    style:{
                        right:'',
                        bottom:''
                    }
                });
            }
        }

        function searchItem(){
            $('#dg').datagrid({
                queryParams: {
                    status: $('#search-status').combobox('getValue'),
                }
            });
        }

        // 格式化类型
        function formatOrgStatus(val) {
            if (val == 1) {
                return '<span class="label label-bg5">公司组织</span>';
            } else if (val == 2) {
                return '<span class="label label-bg2">虚拟库位</span>';
            }
        }

        $(function(){
            $('#mm').menu();
            $(document).bind('contextmenu',function(e){
                e.preventDefault();
                $('#mm').menu('show', {
                    left: e.pageX,
                    top: e.pageY
                });
            });

            //省市区三级联动
            var city = $('#city');
            var county = $('#county');

            $('#province').combobox({
                onChange: function(newValue, oldValue) {

                    if (newValue != "") { 
                        city.combobox({  
                            disabled:false,  
                            url:'/admin/org/address/pid/' + newValue, 
                            valueField:'id',  
                            textField:'name',  
                            onLoadSuccess:function(){
                                var combobox = city.combobox('getData');  
                                city.combobox('setText', combobox[0].name).combobox('setValue', combobox[0].id);  
                            },  
                            onChange:function(newValue, oldValue){

                                if(newValue != ""){ 
                                    county.combobox({  
                                        disabled:false,  
                                        url:'/admin/org/address/pid/' + newValue,  
                                        valueField:'id',  
                                        textField:'name',  
                                        onLoadSuccess:function(){
                                            var combobox = county.combobox('getData');  
                                            county.combobox('setText', combobox[0].name).combobox('setValue', combobox[0].id);  
                                        }  
          
                                    });
          
                                }  
                            }  
                        }); 
                    }  
                }  
            });
        });
    </script>
</head>
<body class="easyui-layout">
    <table id="dg" title="用户列表" class="easyui-datagrid" style="width:100%;" url="/admin/org/rows" toolbar="#toolbar" pagination="true" pageSize="30" pagePosition="top" rownumbers="true" fitColumns="true" singleSelect="true" rownumbers="true" pagination="true">
        <thead>
            <tr>
                <th field="id" width="5">ID</th>
                <th field="type" width="10" formatter="formatOrgStatus">类型</th>
                <th field="name" width="10">名称</th>
                <th field="alias" width="10">别名</th>
                <th field="cellphone" width="10">电话</th>
                <th field="phone" width="6">手机号</th>
                <th field="address" width="10">地址</th>
                <th field="status" width="5" formatter="formatStatus">状态</th>
                <th field="remark" width="20">备注</th>
                <th field='action' width="10" formatter="formatRowActionButton">操作</th>
            </tr>
        </thead>
    </table>
    <div id="toolbar">
        <span>状态:</span>
        <select class="easyui-combobox" id='search-status' panelHeight="auto">
            <option value="all">全部</option>
            <option value="1">启用</option>
            <option value="0">禁用</option>
        </select>
		<a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconCls="icon-search" onclick="searchItem()">搜索</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconCls="icon-add" onclick="newItem()">添加</a>
    </div>
    <div id="mm" style="width:120px;">
        <div iconCls="icon-add" class="<?php if(!isset($buttons['添加'])) { echo 'hide';} ?>" onclick="newItem()"><span>添加</span></div>
        <div iconCls="icon-edit" class="<?php if(!isset($buttons['编辑'])) { echo 'hide';} ?>" onclick="editItem()"><span>编辑</span></div>
        <div iconCls="icon-remove" class="<?php if(!isset($buttons['删除'])) { echo 'hide';} ?>" onclick="deleteItem()"><span>删除</span></div>
    </div>
     <div id="rowmenu" class="hide">
       <a href="javascript:void(0)" class="easyui-linkbutton <?php if(!isset($buttons['编辑'])) { echo 'hide';} ?>" iconCls="icon-edit" plain="true" onclick="selectedRow($(this));editItem();">编辑</a>
       <a href="javascript:void(0)" class="easyui-linkbutton <?php if(!isset($buttons['删除'])) { echo 'hide';} ?>" iconCls="icon-remove" plain="true" onclick="selectedRow($(this));deleteItem();">删除</a>
    </div>
    <div id="dlg" class="easyui-dialog" style="width:700px;min-height:350px;padding:10px 20px" closed="true" buttons="#dlg-buttons">
        <div class="ftitle">组织信息</div>
        <form id="fm" method="post">
            <div class="fitem">
                <label>类型:</label>
                公司组织:
                <input class="easyui-validatebox" name="type" type="radio" required="true" value="1" validType="requireRadio['input[name=\'type\']']">
                虚拟库位:
                <input class="easyui-validatebox" name="type" type="radio" required="true" value="2">
            </div>
            <div class="fitem">
                <label>名称:</label>
                <input name="name" class="easyui-textbox" prompt="名称"  data-options="required:true">
            </div>
            <div class="fitem">
                <label>别名:</label>
                <input name="alias" class="easyui-textbox" prompt="别名" required="true" >
            </div>
            <div class="fitem">
                <label>电话:</label>
                <input name="cellphone" class="easyui-textbox" prompt="电话" required="true" >
            </div>
            <div class="fitem">
                <label>手机号:</label>
                <input name="phone" class="easyui-textbox" prompt="手机号" required="true" >
            </div>
            <div class="fitem">
                <label>省:</label>
                <select id="province" class="easyui-combobox" name="province" prompt="省" valueField="id" textField="name" limitToList="true" url="/admin/org/address" required="true" style="width:122px;">
                </select>
                <span>市:</span>
                <select id="city" class="easyui-combobox" name="city" prompt="市" valueField="id" textField="name" limitToList="true" required="true" style="width:122px;">
                </select>
                <span>区/县:</span>
                <select id="county" class="easyui-combobox" name="county" prompt="区/县" valueField="id" textField="name" limitToList="true" required="true" style="width:122px;">
                </select>
            </div>
            <div class="fitem">
                <label>地址:</label>
                <input name="address" class="easyui-textbox" prompt="地址"  required="true">
            </div>
            <div class="fitem">
                <label>状态:</label>
                启用:
                <input class="easyui-validatebox" name="status" type="radio" required="true" value="1" validType="requireRadio['input[name=\'status\']']">
                禁用:
                <input class="easyui-validatebox" name="status" type="radio" required="true" value="0">
            </div>
            <div class="fitem">
                <label>备注(50个字):</label>
                <input class="easyui-textbox" name="remark" style="width:160px;height:60px" data-options="multiline:true">
            </div>
        </form>
    </div>
    <div id="dlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveItem()" style="width:90px">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">取消</a>
    </div>
    <div id="load" class="easyui-dialog" title="消息" closed="true" style="width:200px;height:100px;padding:10px">
        <span>处理中...</span>
    </div>
</body>
</html>