<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>user</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/vendor/easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/vendor/easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/user.css">
    <script type="text/javascript" src="__PUBLIC__/vendor/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/vendor/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/vendor/easyui/datagrid-cellediting.js"></script>
    <script type="text/javascript" src="__PUBLIC__/vendor/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/user.js"></script>
    <script type="text/javascript">
        var url;

        function searchItem(){
            $('#dg').datagrid({
                queryParams: {
                    starttime: $('#search-starttime').datetimebox('getValue'),
                    endtime: $('#search-endtime').datetimebox('getValue'),
                    proposer_org: $('#search-org').combobox('getValue'),
                    status: $('#search-status').combobox('getValue'),
                    keyword:$('#search-keyword').val()
                }
            });
        }

        // 详情
        function detailItem() {
            var row = $('#dg').datagrid('getSelected');

            if (row) {
                $('#dlg-detail').dialog('open').dialog('center').dialog('setTitle', '详情');
                $('#fm-detail').form('load', row);

                $('#dg-fitting-detail').datagrid({
                	url:'/admin/purchasereceipt/lists/is_organization/1/id/' + row.id
                });
            } else {
                $.messager.show({
                    title: '错误',
                    msg: '请选择一条记录！',
                    showType:'fade',
                    style:{
                        right:'',
                        bottom:''
                    }
                });
            }
        }
        
        // 收货
        function receiptItem() {
            var row = $('#dg').datagrid('getSelected');

            if (row) {
                $('#dlg-receipt').dialog('open').dialog('center').dialog('setTitle', '详情');
                $('#fm-receipt').form('clear');
                $('#fm-receipt').form('load', row);

                $('#dg-fitting-receipt').datagrid({
                	url:'/admin/purchasereceipt/lists/is_organization/1/id/' + row.id
                });
            } else {
                $.messager.show({
                    title: '错误',
                    msg: '请选择一条记录！',
                    showType:'fade',
                    style:{
                        right:'',
                        bottom:''
                    }
                });
            }
        }
        
        function saveReceiptItem() {
            $('#fm-receipt').form('submit',{
                url: '/admin/purchasereceipt/receipt',
                onSubmit: function(){

                    if ($(this).form('validate')) {
                        var dg = $('#dg-fitting-receipt').datagrid('getData');

                        if (dg.total > 0) {
                            $('.fittings').remove();
                            var rows = dg.rows;

                            for (var i in rows) {
                                str = '';
                                str += '<input type="hidden" name="fittings[]" class="fittings" value="' + rows[i].id + '_' + rows[i].purchase_receipt_id + '_' + rows[i].purchase_amount + '_' + rows[i].amount + '">';
                                $('#fm-receipt').append(str);
                            }
                        };

                        $('#load').dialog('open');
                        return true;
                    } else {
                        $('#load').dialog('close');
                        return false;
                    }
                },
                success: function(result){
                    $('#load').dialog('close');
                    var result = eval('('+result+')');

                    if (result.success){
                        $('#dlg-receipt').dialog('close');
                        $('#dg').datagrid('reload');
                    } else {
                        $.messager.show({
                            title: '错误',
                            msg: result.errorMsg,
                            showType:'fade',
                            style:{
                                right:'',
                                bottom:''
                            }
                        });
                    }
                }
            });
        }
        
        // 格式化状态
        function formatPurchaseApplyStatus(val, row) {
            switch (val)
            {
            	case '-1':
                    return '<span class="label label-bg3">取消</span>';
                    break;
                case '0':
                    return '<span class="label label-bg5">待收货</span>';
                    break;
                case '1':
                    return '<span class="label label-bg2">部分收货</span>';
                    break;
                case '2':
                    return '<span class="label label-bg2">全部收货</span>';
                    break;
                case '3':
                    return '<span class="label label-bg2">待付款</span>';
                    break;
                case '4':
                    return '<span class="label label-bg2">已付款</span>';
                    break;
            }
        }
        
		function setRowBgColor(index, row) {
        	
            if (parseInt(row.purchase_amount) > parseInt(row.amount)) {
                return 'color:red;';
            }
        }

        $(function(){
            // 右键目录
            $('#mm').menu();
            $(document).bind('contextmenu',function(e){
                e.preventDefault();
                $('#mm').menu('show', {
                    left: e.pageX,
                    top: e.pageY
                });
            });

            $('#dg-fitting-receipt').datagrid('enableCellEditing');
        });
        
        //行操作按钮
        function formatPurchaseRowActionButton(value, row, index)
        {
            var buttons = '';
            buttons += $('#rowmenu .btn-detail').prop("outerHTML");

            // 状态： 0 待审核 1 已审核 -1 取消 
            switch (row.status) 
            {
                case '-1':
                    break;
                case '0':
                    buttons += $('#rowmenu .btn-receipt').prop("outerHTML");
                    break;
                case '1':
                    buttons += $('#rowmenu .btn-receipt').prop("outerHTML");
                    break;
            }

            return buttons;
        }
    </script>
</head>
<body class="easyui-layout">
    <table id="dg" title="仓库收货列表" class="easyui-datagrid" style="width:100%; max-height:800px;" url="/admin/purchasereceipt/rows" toolbar="#toolbar" pagination="true" pageSize="30" pagePosition="top" rownumbers="true" fitColumns="true" singleSelect="true" rownumbers="true" pagination="true" minimized="false">
        <thead>
            <tr>
                <th field="id" width="5">ID</th>
                <th field="batch" width="10">批次</th>
                <th field="status" width="6" formatter="formatPurchaseApplyStatus">状态</th>
                <th field="remark" width="15">备注</th>
                <th field="proposer_name" width="10">创建人</th>
                <th field="create_time" width="10" formatter="formatDate">创建时间</th>
                <th field="update_time" width="10" formatter="formatDate">更新时间</th>
                <th field='action' width="30" formatter="formatPurchaseRowActionButton">操作</th>
            </tr>
        </thead>
    </table>
    <div id="toolbar">
        <span>开始时间:</span>
        <input class="easyui-datebox" id="search-starttime">
        &nbsp;
        <span>结束时间:</span>
        <input class="easyui-datebox" id="search-endtime">
        &nbsp;
        <span>仓库（地区）:</span>
        <select class="easyui-combobox nameof" id="search-org" url="/admin/purchasereceipt/organization" valueField="id" textField="alias" style="width: 150px;" prompt="仓库"></select>
        &nbsp;
        <span>状态:</span>
        <select class="easyui-combobox" id='search-status' panelHeight="auto">
            <option value="all">全部</option>
            <option value="-1">取消</option>
            <option value="0">待收货</option>
            <option value="1">部分收货</option>
            <option value="2">全部收货</option>
        </select>
        &nbsp;
        <span>关键字(配件编码/配件名称/备注/批次):</span>
        <input type="text" class="easyui-textbox" id='search-keyword' panelHeight="auto" style="width:300px;">
        &nbsp;
        <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconCls="icon-search" onclick="searchItem()">搜索</a>
    </div>
    <div id="mm" style="width:120px;">
        <div iconCls="icon-detail" class="<?php if(!isset($buttons['详情'])) { echo 'hide';} ?>" onclick="detailItem()"><span>详情</span></div>
    </div>
    <div id="rowmenu" class="hide">
        <a href="javascript:void(0)" class="easyui-linkbutton btn-detail <?php if(!isset($buttons['详情'])) { echo 'hide';} ?>" iconCls="icon-detail" plain="true" onclick="selectedRow($(this));detailItem();">详情</a>
        <a href="javascript:void(0)" class="easyui-linkbutton btn-receipt <?php if(!isset($buttons['收货'])) { echo 'hide';} ?>" iconCls="icon-receive" plain="true" onclick="selectedRow($(this));receiptItem();">收货</a>
    </div>
    <!-- 详情弹窗 -->
    <div id="dlg-detail" class="easyui-dialog" style="width:900px;height:600px;padding:10px 20px" closed="true" buttons="#dlg-detail-buttons">
        <form id="fm-detail" method="post">
            <div class="ftitle">采购批次</div>
            <div class="fitem">
                <label>批次:</label>
                <input name="batch" class="easyui-textbox" readonly="true">
            </div>
            <div class="ftitle">仓库及配件列表</div>
            <div class="fitem" style="min-height:100px;">
                <table id="dg-fitting-detail" title="仓库及配件列表" class="easyui-datagrid" style="width:100%;" rownumbers="true" rowStyler="setRowBgColor">
                    <thead>
                        <tr>
                            <th field="org_name" width="10%">仓库</th>
                            <th field="phone" width="15%">机型</th>
                            <th field="fitting" width="20%">配件</th>
                            <th field="fitting_number" width="10%">编码</th>
                            <th field="purchase_amount" width="10%">采购数量</th>
                            <th field="amount" width="10%">收货数量</th>
                            <th field="receipt_time" width="15%" formatter="formatDate">最后收货时间</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="fitem">
                <label>备注(50个字):</label>
                <input class="easyui-textbox" name="remark" style="width:300px;height:60px" data-options="multiline:true" readonly="true">
            </div>
        </form>
    </div>
    <div id="dlg-detail-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg-detail').dialog('close')" style="width:90px">关闭</a>
    </div>
    
    <!-- 收货弹窗 -->
    <div id="dlg-receipt" class="easyui-dialog" style="width:900px;height:600px;padding:10px 20px" closed="true" buttons="#dlg-receipt-buttons">
        <form id="fm-receipt" method="post">
            <div class="fitem">
                <label>批次:</label>
                <input name="batch" class="easyui-textbox" prompt="批次" value="" readonly="true">
            </div>
            <div class="fitem" style="min-height:100px;">
                <table id="dg-fitting-receipt" title="仓库及配件列表" class="easyui-datagrid" style="width:100%;" rownumbers="true" rowStyler="setRowBgColor">
                    <thead>
                        <tr>
                            <th field="org_name" width="10%">仓库</th>
                            <th field="phone" width="17%">机型</th>
                            <th field="fitting" width="18%">配件</th>
                            <th field="fitting_number" width="10%">编码</th>
                            <th field="purchase_amount" width="10%">采购数量</th>
                            <th field="amount" width="20%" data-options="field:'amount',width:80,align:'left',editor:{type:'numberbox',options:{min:0}}">收货数量(点击可编辑)</th>
                            <th field="receipt_time" width="15%" formatter="formatDate">最后收货时间</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="fitem">
                <label>备注(50个字):</label>
                <input class="easyui-textbox" name="receipt_remark" style="width:300px;height:60px" data-options="multiline:true" required='true'>
            </div>
        </form>
    </div>
    <div id="dlg-receipt-buttons">
    	<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveReceiptItem();" style="width:90px">确认收货</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg-receipt').dialog('close')" style="width:90px">关闭</a>
    </div>
</body>
</html>