<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>user</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/vendor/easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/vendor/easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/user.css">
    <script type="text/javascript" src="__PUBLIC__/vendor/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/vendor/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/user.js"></script>
    <script type="text/javascript">
        var url;

        function newItem(){
            $('#dlg').dialog('open').dialog('center').dialog('setTitle', '添加');
            $('#fm').form('clear');
            url = '/admin/role/add';
        }

        function editItem(){
            var row = $('#dg').datagrid('getSelected');
            if (row){
                $('#dlg').dialog('open').dialog('center').dialog('setTitle','编辑');
                $('#fm').form('load', row);
                url = '/admin/role/save/id/' + row.id;
            } else {
                $.messager.show({
                    title: '错误',
                    msg: '请选择一条记录！',
                    showType:'fade',
                    style:{
                        right:'',
                        bottom:''
                    }
                });
            }
        }

        function saveItem(form) {
            $(form).form('submit',{
                url: url,
                onSubmit: function(){
                    if ($(this).form('validate')) {
                        $('#load').dialog('open');
                    };
                    return $(this).form('validate');
                },
                success: function(result){
                    $('#load').dialog('close');
                    var result = eval('('+result+')');
                    if (result.success){
                        $('#dlg').dialog('close');
                        $('#dg').datagrid('reload');
                    } else {
                        $.messager.show({
                            title: '错误',
                            msg: result.errorMsg,
                            showType:'fade',
                            style:{
                                right:'',
                                bottom:''
                            }
                        });
                    }
                }
            });
        }

        function deleteItem(){
            var row = $('#dg').datagrid('getSelected');
            if (row){
                $.messager.confirm('Confirm', '确认删除此记录?',function(r){
                    if (r){
                        $.post('/admin/role/delete',{id:row.id},function(result){
                            if (result.success){
                                $('#dg').datagrid('reload');
                            } else {
                                $.messager.show({
                                    title: '错误',
                                    msg: result.errorMsg,
                                    showType:'fade',
                                    style:{
                                        right:'',
                                        bottom:''
                                    }
                                });
                            }
                        },'json');
                    }
                });
            } else {
                $.messager.show({
                    title: '错误',
                    msg: '请选择一条记录！',
                    showType:'fade',
                    style:{
                        right:'',
                        bottom:''
                    }
                });
            }
        }

        function searchItem(){
            $('#dg').datagrid({
                queryParams: {
                    status: $('#search-status').combobox('getValue'),
                    keyword: $('#search-keyword').val(),
                }
            });
        }

        function memberItem(){
            var row = $("#dg").datagrid('getSelected');

            if(row) {
                $("#aur").dialog("open").dialog("setTitle","成员管理");
                $('#inr').datagrid({    
                    url:'/admin/role/inRole/id/' + row.id,        
                });
                $('#notr').datagrid({    
                    url:'/admin/role/notRole/id/' + row.id,        
                });
            } else {
                $.messager.show({
                    title: '错误',
                    msg: '请选择一条记录！',
                    showType:'fade',
                    style:{
                        right:'',
                        bottom:''
                    }
                });
            }
        }
        
        function addUser(){
            var row = $("#dg").datagrid('getSelected'); 
            var row1 = $("#notr").datagrid('getSelected');

            if(row1){
                $.post('/admin/role/addUser',{userId:row1.id,roleId:row.id},function(result){
                    if (result.success){
                        $('#inr').datagrid('reload');
                        $('#notr').datagrid('reload');
                    } else {
                        $.messager.show({
                            title: '错误',
                            msg: result.errorMsg,
                            showType:'fade',
                            style:{
                                right:'',
                                bottom:''
                            }
                        });
                    }
                },'json');
            } else {
                $.messager.show({
                    title: '错误',
                    msg: '请选择一条记录！',
                    showType:'fade',
                    style:{
                        right:'',
                        bottom:''
                    }
                });
            }
        }
        
       function removeUser(){
            var row = $("#dg").datagrid('getSelected'); 
            var row1 = $("#inr").datagrid('getSelected');

            if(row1){
                $.post('/admin/role/removeUser',{userId:row1.id,roleId:row.id},function(result){
                    if (result.success){
                        $('#inr').datagrid('reload');
                        $('#notr').datagrid('reload');
                    } else {
                        $.messager.show({
                            title: '错误',
                            msg: result.errorMsg,
                            showType:'fade',
                            style:{
                                right:'',
                                bottom:''
                            }
                        });
                    }
                },'json');
            } else {
                $.messager.show({
                    title: '错误',
                    msg: '请选择一条记录！',
                    showType:'fade',
                    style:{
                        right:'',
                        bottom:''
                    }
                });
            }
        }

        function privilegeItem(){
            var row = $("#dg").datagrid('getSelected');

            if(row) {
                $('#tt').tree({
                    url: '/admin/role/nodes/id/' + row.id,
                });
                $("#pri").dialog("open").dialog("setTitle", "权限管理");
            } else {
                $.messager.show({
                    title: '错误',
                    msg: '请选择一条记录！',
                    showType:'fade',
                    style:{
                        right:'',
                        bottom:''
                    }
                });
            }
        }

        function authorization(){
            var row = $("#dg").datagrid('getSelected'); 

            if(row){
                var nodes = [];
                var checkeds = $('#tt').tree('getChecked', ['checked', 'indeterminate']);

                for (var i = checkeds.length - 1; i >= 0; i--) {
                    nodes.unshift(checkeds[i].id);
                };

                $.post('/admin/role/authorization', {roleId:row.id, nodes: nodes},function(result) {

                    if (result.success){
                        $('#pri').dialog('close');
                        $('#dg').datagrid('reload');
                    } else {
                        $.messager.show({
                            title: '错误',
                            msg: result.errorMsg,
                            showType:'fade',
                            style:{
                                right:'',
                                bottom:''
                            }
                        });
                    }
                },'json');
            } else {
                $.messager.show({
                    title: '错误',
                    msg: '请选择一条记录！',
                    showType:'fade',
                    style:{
                        right:'',
                        bottom:''
                    }
                });
            }
        }

        $(function(){
            $('#mm').menu();
            $(document).bind('contextmenu',function(e){
                e.preventDefault();
                $('#mm').menu('show', {
                    left: e.pageX,
                    top: e.pageY
                });
            });
        });
    </script>
</head>
<body class="easyui-layout">
        <table id="dg" title="用户列表" class="easyui-datagrid" style="width:100%;" url="/admin/role/rows" toolbar="#toolbar" pagination="true" pageSize="30" pagePosition="top" rownumbers="true" fitColumns="true" singleSelect="true" rownumbers="true" pagination="true">
        <thead>
            <tr>
                <th field="id" width="5">ID</th>
                <th field="name" width="5">名称</th>
                <th field="status" width="5" formatter="formatStatus">状态</th>
                <th field="remark" width="10">备注</th>
                <th field='action' width="10" formatter="formatRowActionButton">操作</th>
            </tr>
        </thead>
    </table>
    <div id="toolbar">
        <span>状态:</span>
        <select class="easyui-combobox" id='search-status' panelHeight="auto">
            <option value="all">全部</option>
            <option value="1">启用</option>
            <option value="0">禁用</option>
        </select>
        &nbsp;&nbsp;
        <span>关键字:</span>
        <input type="text" class="easyui-textbox" id='search-keyword' panelHeight="auto">
        <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconCls="icon-search" onclick="searchItem()">搜索</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconCls="icon-add" onclick="newItem()">添加</a>
    </div>
    <div id="mm" style="width:120px;">
        <div iconCls="icon-add" class="<?php if(!isset($buttons['添加'])) { echo 'hide';} ?>" onclick="newItem()"><span>添加</span></div>
        <div iconCls="icon-edit" class="<?php if(!isset($buttons['编辑'])) { echo 'hide';} ?>" onclick="editItem()"><span>编辑</span></div>
        <div iconCls="icon-remove" class="<?php if(!isset($buttons['删除'])) { echo 'hide';} ?>" onclick="deleteItem()"><span>删除</span></div>
        <div iconCls="icon-member" class="<?php if(!isset($buttons['成员管理'])) { echo 'hide';} ?>" onclick="memberItem()"><span>成员管理</span></div>
        <div iconCls="icon-privilege" class="<?php if(!isset($buttons['权限管理'])) { echo 'hide';} ?>" onclick="privilegeItem()"><span>权限管理</span></div>
    </div>
    <div id="rowmenu" class="hide">
       <a href="javascript:void(0)" class="easyui-linkbutton <?php if(!isset($buttons['编辑'])) { echo 'hide';} ?>" iconCls="icon-edit" plain="true" onclick="selectedRow($(this));editItem();">编辑</a>
       <a href="javascript:void(0)" class="easyui-linkbutton <?php if(!isset($buttons['删除'])) { echo 'hide';} ?>" iconCls="icon-remove" plain="true" onclick="selectedRow($(this));deleteItem();">删除</a>
       <a href="javascript:void(0)" class="easyui-linkbutton <?php if(!isset($buttons['成员管理'])) { echo 'hide';} ?>" iconCls="icon-member" plain="true" onclick="selectedRow($(this));memberItem();">成员管理</a>
        <a href="javascript:void(0)" class="easyui-linkbutton <?php if(!isset($buttons['权限管理'])) { echo 'hide';} ?>" iconCls="icon-privilege" plain="true" onclick="selectedRow($(this));privilegeItem();">权限管理</a>
    </div>
    <div id="dlg" class="easyui-dialog" style="width:500px;min-height:350px;padding:10px 20px" closed="true" buttons="#dlg-buttons">
        <div class="ftitle">角色信息</div>
        <form id="fm" method="post">
            <div class="fitem">
                <label>名称:</label>
                <input name="name" class="easyui-textbox" prompt="名称"  data-options="required:true">
            </div>
            <div class="fitem">
                <label>状态:</label>
                启用:
                <input class="easyui-validatebox" name="status" type="radio" required="true" value="1" validType="requireRadio['input[name=\'status\']']">
                禁用:
                <input class="easyui-validatebox" name="status" type="radio" required="true" value="0">
            </div>
            <div class="fitem">
                <label>备注(50个字):</label>
                <input class="easyui-textbox" name="remark" style="width:160px;height:60px" data-options="multiline:true">
            </div>
        </form>
    </div>
    <div id="dlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveItem('#fm')" style="width:90px">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">取消</a>
    </div>
    <div id="load" class="easyui-dialog" title="消息" closed="true" style="width:200px;height:100px;padding:10px">
        <span>处理中...</span>
    </div>
    <div id="aur" class="easyui-dialog" style="width: 800px;min-height: 400px;" closed="true">
        <div id="cc" class="easyui-layout" fit="true">     
            <div data-options="region:'west'" style="width:300px;">
                <table id="notr" class="easyui-datagrid" singleSelect="true" title="用户列表">
                    <thead>
                        <tr>
                            <th field="id" align="center">ID</th>
                            <th field="username" align="center">用户名</th>
                            <th field="realname" align="center">姓名</th>
                            <th field="organization" align="center">组织</th>
                        </tr>
                    </thead>
                </table>
            </div>   
            <div data-options="region:'east'" style="width:300px;">
                <table id="inr" class="easyui-datagrid" singleSelect="true" title="成员列表">
                    <thead>
                        <tr>
                            <th field="id" align="center">ID</th>
                            <th field="username" align="center">用户名</th>
                            <th field="realname" align="center">姓名</th>
                            <th field="organization" align="center">组织</th>
                        </tr>
                    </thead>
                </table>        
            </div>   
            <div data-options="region:'center'">
                <div align="center" style="height:200px;padding:30px;">
                    <a href="javascript:addUser()" class="easyui-linkbutton">&nbsp;&nbsp;&gt;&gt;&nbsp;&nbsp;</a>
                </div>
                <div align="center">
                    <a href="javascript:removeUser()" class="easyui-linkbutton">&nbsp;&nbsp;&lt;&lt;&nbsp;&nbsp;</a>
                </div>      
            </div>   
        </div> 
    </div>
    <div id="pri" class="easyui-dialog" style="width: 600px;height: 600px;" closed="true" buttons="#pri-buttons">
        <form id="pri-fm" method="post">
            <ul id="tt" class="easyui-tree" checkbox="true" cascadeCheck="false" lines="true"></ul>
        </form>
    </div>
    <div id="pri-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="authorization()" style="width:90px">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#pri').dialog('close')" style="width:90px">取消</a>
    </div>
</body>
</html>