<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>user</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/vendor/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/vendor/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/user.css">
    <script type="text/javascript" src="__PUBLIC__/vendor/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/vendor/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/vendor/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#search-start-time').datebox('setValue', '<?php echo $startTime;?>');
            $('#search-end-time').datebox('setValue', '<?php echo $endTime;?>');
        });
    </script>
</head>
<body>
<body class="easyui-layout">
    <table id="dg" title="收款统计日报表" class="easyui-datagrid" style="width:100%;" toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true">
        <thead>
            <tr>
                <th field="order1" width="12" rowspan="2" align="center">项目</th>
                <th field="order2" width="15" colspan="2" align="center">营收</th>
                <th field="order3" width="15" colspan="2" align="center">支付宝收款 </th>
                <th field="order4" width="15" colspan="2" align="center">微信收款</th>
                <th field="order5" width="15" colspan="2" align="center">网银收款</th>
                <th field="order6" width="15" colspan="2" align="center">现金收款 </th>
                <th field="order7" width="15" colspan="2" align="center">收款合计 </th>
                <th field="order8" width="15" colspan="2" align="center">未收款</th>
            </tr>
            <tr>
                <th field="order9" width="7">单量</th>
                <th field="order10" width="8">收款金额</th>
                <th field="order11" width="7">单量</th>
                <th field="order12" width="8">收款金额</th>
                <th field="order13" width="7">单量</th>
                <th field="order14" width="8">收款金额</th>
                <th field="order17" width="6">单量</th>
                <th field="order18" width="6">收款金额</th>
                <th field="order21" width="7">单量</th>
                <th field="order22" width="8">收款金额</th>
                <th field="order23" width="7">单量</th>
                <th field="order24" width="8">收款金额</th>
                <th field="order25" width="7">单量</th>
                <th field="order26" width="8">收款金额</th>
            </tr>
        </thead>
        <?php foreach ($data as $item) {?>
        <tr>
            <td><?php echo $item['name'];?></td>
            <td><?php echo $item['data']['revenue']['amount'];?></td>
            <td><?php echo $item['data']['revenue']['price'];?></td>
            <td><?php echo $item['data']['alipay']['amount'];?></td>
            <td><?php echo $item['data']['alipay']['price'];?></td>
            <td><?php echo $item['data']['weixin']['amount'];?></td>
            <td><?php echo $item['data']['weixin']['price'];?></td>
            <td><?php echo $item['data']['bank']['amount'];?></td>
            <td><?php echo $item['data']['bank']['price'];?></td>
            <td><?php echo $item['data']['cash']['amount'];?></td>
            <td><?php echo $item['data']['cash']['price'];?></td>
            <td><?php echo $item['data']['total']['amount'];?></td>
            <td><?php echo $item['data']['total']['price'];?></td>
            <td><?php echo $item['data']['noPay']['amount'];?></td>
            <td><?php echo $item['data']['noPay']['price'];?></td>
        </tr>
        <?php }?>
    </table>
    <div id="toolbar">
        <form id="search" method="post" action="<?php echo U('admin/statistics/orderCashExport');?>">
        <p>
            <span>日期:</span>
            <input type="text" class="easyui-datebox" id='search-start-time' name="start_time" panelHeight="auto"> 至
            <input type="text" class="easyui-datebox" id='search-end-time' name="end_time" panelHeight="auto">
            <a href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconCls="icon-search" onclick="$('#search').submit();">搜索</a>
            
        </p>
        </form>
    </div>
</body>
</html>